<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link rel="stylesheet" type="text/css"
              href="../../../../../../website/html/view/css/tablestyle.css" />
        <link rel="stylesheet" type="text/css"
              href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css" />
        <link rel="stylesheet" type="text/css"
              href="../../../../../../common/html/plugin/easyui/themes/icon.css" />
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/js/validation.js"></script>

        <script type="text/javascript" src="../../../js/apply/influence.js"></script>
        <link rel="stylesheet" type="text/css" href="../../../css/table.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/button.css" />
        <script type="text/javascript" src="../../../../../../common/html/js/tablecommon.js"></script>
    </head>

    <body>
        <form id="influence" method="post">
            <div class="project_content">
                <div class="table_title clearfix">
                    <div class="title_pic left">项目申请书填写</div>
                    <div class="right back_pic" id="back"></div>
                </div>
                <div class="table_content back-long">
                    <div class="basic_info bg_blue">

                        <p class="title_top p-b10">申报单位近两年发生的对单位发展有影响的事件</p>
                        <p class="subtitle">如与其他单位建立合作关系、国外或外地业务拓展、提升专业服务能力、规范公司管理的事件等</p>
                        <div class="text_wrap">
                            <textarea name="influence" id="influence" class="text_content"
                                      title=""
                                      placeholder="名称:

                                      时间:

                                      地点:

                                      活动主题:

                                      活动效果:"></textarea>
                        </div>

                        <div class="button_wrapper clearfix">
                            <div class="save">保存</div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </body>
</html>
