<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <!-- <link rel="stylesheet" type="text/css"
              href="../../../../../../website/html/view/css/tablestyle.css" /> -->
        <link rel="stylesheet" type="text/css"
              href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css" />
        <link rel="stylesheet" type="text/css"
              href="../../../../../../common/html/plugin/easyui/themes/icon.css" />
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
        <script type="text/javascript"
        src="../../../../../../common/html/js/validation.js"></script>
        <script type="text/javascript" src="../../../../../../common/html/js/tablecommon.js"></script>
        <script type="text/javascript" src="../../../js/apply/running.js"></script>
        <link rel="stylesheet" type="text/css" href="../../../css/table.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/button.css" />
    </head>

    <body>
        <form id="running" method="post">
            <div class="project_content">
                <div class="table_title clearfix">
                    <div class="title_pic left">项目申请书填写</div>
                    <div class="right back_pic" id="back"></div>
                </div>
                <div class="table_content back-long">
                    <div class="basic_info bg_blue">

                        <p class="title_top p-b10">申报单位公共服务平台或公共技术平台运行情况</p>
                        <p class="subtitle">简明扼要的介绍平台功能、定位、搭建方式及运行服务情况( 限600字）</p>
                        <div class="text_wrap">
                            <textarea name="running" id="running" class="text_content"
                                      title="600" ></textarea>
                        </div>

                        <div class="button_wrapper clearfix">
                            <div class="save">保存</div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </body>
</html>
