/*author:heyangyang*/
.panel-title {
	font-size: 18px;
	height: 28px;
	line-height: 28px;
}

.panel-header {
	height: 30px;
}

table tr {
	height: 40px;
}

.calendar-body table tr {
	height: 20px;
}

a {
	text-decoration: none;
}