 select{
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
          font-size: 14px;
          margin: auto 0;
          text-align: center;
          width:100%;
          float:left;
          height:99%;
          margin: 0 auto;
          padding: 0 auto ;
          background-color: #D1E4F3;
		}

tr:nth-child(even) select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    margin: auto 0;
    text-align: center;
    width:100%;
    float:left;
    height:99%;
    margin: 0 auto;
    padding: 0 auto ;
    background-color: #EAF3FA;
}
option {
    font-style:inherit;
    font-size:16px;
    margin: 0 auto;
    padding: 0 auto ;
    background-color: #EAF3FA;
}