<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户分组</title>
<link rel="stylesheet" type="text/css" href="../../../../../common/html/plugin/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../../../../common/html/plugin/easyui/themes/icon.css">
<!--
<script type="text/javascript" src="../../../../../common/html/plugin/easyui/jquery.min.js"></script>
-->
<script type="text/javascript" src="../../../../../common/html/lib/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="../../js/admin/admincat.js"></script>
<script type="text/javascript" src="../../../../../center/html/view/js/common.js"></script>
<script type="text/javascript" src="../../../../../center/html/view/js/NTClientJavascript.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/admincat.css"/>

</head>

<body id='body' class='easyui-layout'>
<!--树结构-->
<div id='west' data-options="region:'west',title:'用户分组',split:true" style="width:250px;padding:5px;">
  <ul id="treeData">
  </ul>
</div>
<!--表结构-->
<div id='center' data-options="region:'center',title:'分组信息',split:true" style="padding:5px;">
  <table id="grid" class="easyui-datagrid">
  </table>
  <div id="toolbar"> 
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="queEle()">查询</a> 
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newCat()">添加</a> 
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="delElelist()">批量删除</a> 
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="disableEle(1)">禁用</a> 
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="disableEle(0)">启用</a>
  <!--
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="loadPage()">未删除</a>
  -->
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="get_isDel()">已删除</a>
  <a href="javascript:void(0)" id="muti_back" class="easyui-linkbutton" iconcls="icon-ok" style="display:none" plain="true" onclick="uptisDelList()">批量恢复</a></div>
</div>
<!--添加分组-->
<div id="new_catDlg" class="easyui-dialog" style="width:380px;padding:10px 20px"
            closed="true" buttons="#new_catDlg-buttons">
  <form id="new_catfm" method="post">
    <table cellspacing="5">
      <input id="pid" name="upperID" type="hidden" />
      <tr>
        <td width="80">所属分类：</td>
        <td><input name="pritree1" id="pritree1" style="width:180px;" /></td>
      </tr>
      <tr>
        <td>用户组：</td>
        <td><input name="catName" style="width:180px;" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'" /></td>
      </tr>
      <tr>
        <td>专有名称：</td>
        <td><input name="exclusive_name" style="width:180px;" class="easyui-validatebox" data-options="required:false,missingMessage:'该项为必填项'" /></td>
      </tr>
    </table>
  </form>
</div>
<div id="new_catDlg-buttons" style="text-align:center;padding:5px"> 
	<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveNewCat()">确定 </a> 
	<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#new_catDlg').dialog('close')">取消</a> 
</div>
<!--修改分组-->
<div id="edit_catDlg" class="easyui-dialog" style="width:380px;padding:10px 20px"
            closed="true" buttons="#edit_catDlg-buttons">
  <form id="edit_catform" method="post">
    <table>
      <tr>
        <td width="80">所属分类：</td>
        <td><input name="pritree" id="pritree" style="width:180px;" /></td>
      </tr>
      <tr>
        <td>用户组：</td>
        <td><input name="catName" style="width:180px;" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'" /></td>
      </tr>
      <tr>
        <td>专有名称：</td>
        <td><input name="exclusive_name" style="width:180px;" class="easyui-validatebox" data-options="required:false,missingMessage:'该项为必填项'" /></td>
      </tr>
    </table>
  </form>
</div>
<div id="edit_catDlg-buttons" style="text-align:center;padding:5px"> 
	<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveEditCat()">确定 </a> 
  <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#edit_catDlg').dialog('close')">取消</a> 
</div>
<!--查询信息-->
<div id="show" class="easyui-dialog" style="width:300px;height:200px;padding:10px 20px"
            closed="true" buttons="#show-buttons">
  <form id="show-form" method="post" novalidate="novalidate">
    <table>
      <tr>
        <td>用户组：</td>
        <td><input id="search_name" name="catName" maxlength="50" class="easyui-validatebox" /></td>
      </tr>
      <tr>
        <td>状态：</td>
        <td><input id="search_state" name="isForbidden" class="easyui-combobox" data-options="
                	valueField:'value',
                    textField:'text',
                    panelHeight:50,
                    multiple:false,
                    editable:false, 
                    data:[{value:'1',text:'禁用'},{value:'0',text:'启用'}]
                  
                " /></td>
      </tr>
    </table>
  </form>
</div>
<div id="show-buttons" style="text-align:center;padding:5px"> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="queResult()">确定 </a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#show').dialog('close')">取消</a> </div>
<script type="text/javascript">
   	loadTree();
   </script>
</body>
</html>