* {
	margin: 0px; padding: 0px;
}
html {
	margin: 0px; padding: 0px; width: 100%; height: 100%; text-align: center; color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);
}
body {
	margin: 0px; padding: 0px; width: 100%; height: 100%; text-align: center; color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);
}
.n_main {
	background-image: url("../../images/pmlc12_bg_sy.gif");
}
img {
	border: 0px currentColor; border-image: none;
}
a {
	color: rgb(12, 112, 32); text-decoration: underline;
}
a:link {
	color: rgb(12, 112, 32); text-decoration: underline;
}
a:visited {
	color: rgb(12, 112, 32); text-decoration: underline;
}
a:hover {
	color: rgb(47, 144, 66); text-decoration: underline;
}
a:active {
	color: rgb(47, 144, 66); text-decoration: underline;
}
.huanhang {
	-ms-word-break: break-all; -ms-word-wrap: break-word;
}
.PMLC12_mainbody {
	margin: 0px; padding: 0px; width: 100%; height: 100%;
}
.PMLC12_banner {
	width: 100%; height: 116px; vertical-align: top; background-image: url("../../images/pmlc12_banner_b.gif"); background-repeat: repeat-x;
}
.PMLC12_banner_a {
	width: 717px; height: 116px; background-image: url("../../images/pmlc12_banner_a.gif"); background-repeat: no-repeat;
}
.PMLC12_banner_b {
	width: 10%; height: 116px; background-image: url("../../images/pmlc12_banner_b.gif"); background-repeat: repeat-x;
}
.PMLC12_banner_c {
	background-position: right; width: 20%; height: 116px; background-image: url("../../images/pmlc12_banner_c.gif"); background-repeat: no-repeat;
}
.PMLC12_kfdxz {
	margin: 0px; width: 142px; height: 33px; padding-top: 5px; padding-left: 130px;
}
.PMLC12_user {
	width: 200px; text-align: right; padding-left: 70px;
}
.PMLC12_t_yellow {
	color: rgb(248, 245, 8); line-height: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_t_white {
	color: rgb(255, 255, 255); line-height: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_t_white_a {
	text-align: left; color: rgb(255, 255, 255); line-height: 24px; padding-left: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;
}
.PMLC12_t_white_a a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.PMLC12_t_white_a a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.PMLC12_t_white_a a:hover {
	color: rgb(245, 108, 7); text-decoration: none;
}
.PMLC12_t_white_a a:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
.PMLC12_banner_btn {
	width: 300px; height: 25px; text-align: right; padding-top: 2px;
}
.PMLC12_center {
	margin: 0px; width: 100%; height: 500px; vertical-align: top; background-image: url("../../images/pmlc12_left_bg.gif"); background-repeat: repeat-y;
}
.PMLC12_center_left {
	margin: 0px; width: 255px; height: auto;
}
.PMLC12_left_a {
	width: 253px; height: auto;
}
.PMLC12_left_a1 {
	width: 253px; height: auto; background-image: url("../../images/PMLC12_left_bgb.gif"); background-repeat: repeat-y;
}
.PMLC12_center_lefttable {
	margin: 10px; width: 241px; height: 113px; padding-top: 10px;
}
.PMLC12_left_abgc {
	width: 253px; height: 10px; background-image: url("../../images/pmlc12_left_abgc.gif"); background-repeat: no-repeat;
}
.PMLC12_text_gray {
	text-align: right; color: rgb(11, 71, 2); line-height: 15px; font-size: 12px;
}
.PMLC12_text_gray_a {
	text-align: left; color: rgb(102, 102, 102); line-height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_text_gray_aF {
	text-align: left; color: black; line-height: 15px; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_text_red {
	text-align: left; color: rgb(131, 4, 4); line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_text_green a:link {
	color: rgb(23, 148, 4);
}
.PMLC12_text_green a:visited {
	color: rgb(23, 148, 4);
}
.PMLC12_text_green a:hover {
	color: rgb(0, 0, 0);
}
.PMLC12_text_green a:active {
	color: rgb(23, 148, 4);
}
.PMLC12_text_green_a {
	color: rgb(11, 71, 2); line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_left_b {
	width: 253px; height: auto;
}
.PMLC12_left_b_top {
	width: 253px; height: 38px; background-image: url("../../images/pmlc12_center_left_btop.gif"); background-repeat: no-repeat;
}
.PMLC12_btn_xjwjj {
	width: 100px; height: 21px; padding-top: 3px; padding-left: 140px;
}
.PMLC12_left_b_bg {
	width: 253px; height: auto; background-image: url("../../images/pmlc12_left_bg.gif"); background-repeat: repeat-y;
}
.PMLC12_left_b_bgb {
	width: 253px; height: auto; background-image: url("../../images/pmlc12_left_bgb.gif"); background-repeat: repeat-y;
}
.PMLC12_left_wjj_a {
	height: 27px; text-align: left; background-image: url("../../images/PMLC12_lef_b2.gif"); background-repeat: no-repeat;
}
.PMLC12_left_wjj_b {
	height: 27px; background-image: url("../../images/PMLC12_lef_b2a.gif"); background-repeat: no-repeat;
}
.PMLC12_text_gray_b {
	text-align: left; color: rgb(51, 51, 51); line-height: 27px; padding-left: 35px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;
}
.PMLC12_left_b_kuang_a {
	padding: 6px 8px 6px 5px; width: 240px; height: auto; text-align: left;
}
.PMLC12_left_b_kuang_b {
	padding: 6px 8px 6px 5px; height: auto;
}
.PMLC12_left_b_kuang {
	padding: 6px 10px; width: 230px; height: auto; text-align: left;
}
.PMLC12_left_bgc {
	width: 253px; height: 10px; background-image: url("../../images/pmlc12_left_bgc.gif"); background-repeat: no-repeat;
}
.PMLC12_left_cklsjl {
	width: 253px; height: auto;
}
.PMLC12_center_right {
	margin: 7px; padding: 7px; width: 82%; height: auto; vertical-align: top; background-color: rgb(248, 252, 249);
}
.PMLC12_text_green_big {
	text-align: left; color: rgb(4, 122, 33); line-height: 21px; padding-left: 10px; font-size: 16px; font-weight: bold;
}
.PMLC12_biaoge {
	height: 21px; padding-left: 3px;
}
.PMLC12_biaoge_a {
	width: auto;
}
.PMLC12_right_xxlb {
	width: 80px; height: 21px; text-align: left; color: rgb(51, 51, 51); line-height: 21px; padding-left: 20px; background-image: url("../../images/PMLC12_btn_xxlb.gif"); background-repeat: no-repeat;
}
.PMLC12_text_blocka {
	text-align: left; color: rgb(51, 51, 51); line-height: 20px; padding-left: 10px; font-size: 12px;
}
.PMLC12_right_center {
	width: 100%; height: auto; padding-top: 3px;
}
.PMLC12_right_center_bt {
	width: 100%; height: 37px; background-image: url("../../images/PMLC12_right_bt.gif"); background-repeat: repeat-x;
}
.PMLC12_right_tablea {
	margin: 0px; width: 100%; height: auto;
}
.PMLC12_right_table_bga {
	width: 100%; height: 35px; background-image: url("../../images/PMLC12_right_bt00001.gif"); background-repeat: repeat-x;
}
.PMLC12_text_green_biao {
	text-align: center; color: rgb(0, 93, 0); line-height: 24px; font-size: 12px; font-weight: bold;
}
.PMLC12_text_blockbiao {
	text-align: center; color: rgb(51, 51, 51); font-size: 12px;
}
.PMLC12_text_blockbiao_a {
	text-align: left; color: rgb(51, 51, 51); font-size: 12px;
}
.PMLC12_text_blockbiao_b {
	width: 48px; text-align: left; color: rgb(51, 51, 51); font-size: 12px;
}
.PMLC12_text_blockbiao_c {
	text-align: left; color: rgb(102, 102, 102); padding-left: 2px; font-size: 12px;
}
.PMLC12_pictuer_bg {
	width: 100%; text-align: left; background-color: rgb(235, 236, 235);
}
.PMLC12_jcjg {
	width: 48px; height: 17px; text-align: center; background-repeat: no-repeat;
}
.PMLC12_jcjg11 {
	height: 17px; text-align: left; background-repeat: no-repeat;
}
ul li {
	margin: 0px; padding: 0px;
}
.list_menu {
	list-style: none; margin: 0px; padding: 0px; z-index: 20;
}
.list_menu li {
	margin: 0px; padding: 0px; float: left; display: block; position: relative; z-index: 20; cursor: pointer;
}
.list_menu li a {
	height: 23px; text-align: center; font-weight: 700; text-decoration: none; display: block;
}
.list_menu li a:hover {
	
}
.list_menu ul {
	background: rgb(240, 248, 235); list-style: none; margin: 0px; padding: 0px; left: 0px; border-right-color: rgb(198, 203, 207); border-bottom-color: rgb(198, 203, 207); border-left-color: rgb(198, 203, 207); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: none; position: absolute; z-index: 20;
}
.list_menu ul li {
	width: 140px; text-align: left; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; float: left;
}
.list_menu ul a {
	padding: 8px 5px; height: 15px; text-align: left; display: block;
}
.list_menu ul a:hover {
	text-decoration: underline;
}
.list_menu2 {
	list-style: none; margin: 0px; padding: 0px; z-index: 10;
}
.list_menu2 li {
	margin: 0px; padding: 0px; float: left; display: block; position: relative; z-index: 10; cursor: pointer;
}
.list_menu2 li a {
	height: 23px; text-align: center; font-weight: 700; text-decoration: none; display: block;
}
.list_menu2 li a:hover {
	
}
.list_menu2 ul {
	background: rgb(240, 248, 235); list-style: none; margin: 0px; padding: 0px; left: 0px; border-right-color: rgb(198, 203, 207); border-bottom-color: rgb(198, 203, 207); border-left-color: rgb(198, 203, 207); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: none; position: absolute; z-index: 10;
}
.list_menu2 ul li {
	width: 140px; text-align: left; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; float: left;
}
.list_menu2 ul a {
	padding: 8px 5px; height: 15px; text-align: left; display: block;
}
.list_menu2 ul a:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}
.NoSearch {
	padding-top: 20px; padding-left: 10px;
}
.Load_Div {
	margin: auto auto auto -100px; border: 1px solid rgb(0, 0, 0); border-image: none; left: 50%; top: 280px; width: 150px; text-align: center; line-height: 30px; padding-top: 20px; padding-bottom: 20px; position: absolute; z-index: 999; background-color: rgb(240, 248, 235);
}
a.Order1 {
	color: rgb(23, 148, 4); text-decoration: underline;
}
a.Order2 {
	color: rgb(152, 0, 0); text-decoration: none;
}
a.Order2:visited {
	color: rgb(152, 0, 0); text-decoration: none;
}
.PMLC12_text_green {
	line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.w_t_l {
	width: 9px; height: 31px; background-image: url("../../images/bg_01.gif"); background-repeat: no-repeat;
}
.w_t_c {
	height: 31px; text-align: left; color: rgb(0, 93, 0); line-height: 30px; font-size: 14px; font-weight: bold; background-image: url("../../images/bg_02.gif"); background-repeat: repeat-x;
}
.w_t_r {
	width: 31px; height: 31px; cursor: pointer; background-image: url("../../images/bg_03.gif"); background-repeat: no-repeat;
}
.w_t_r_1 {
	width: 31px; height: 31px; background-image: url("../../images/bg_03_1.gif"); background-repeat: no-repeat;
}
.w_b {
	border-right-color: rgb(153, 171, 146); border-bottom-color: rgb(153, 171, 146); border-left-color: rgb(153, 171, 146); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.PMLC12_window {
	margin: auto; width: 800px; height: auto; background-color: rgb(255, 255, 255);
}
.PMLC12_window_bt {
	width: 800px; height: 30px;
}
.PMLC12_window_bta {
	width: 120px; height: 30px; text-align: left; padding-left: 10px; float: left;
}
.PMLC12_w_text_green {
	height: 30px; color: rgb(0, 51, 0); line-height: 30px; font-size: 14px; font-weight: bold;
}
.PMLC12_w_exit {
	padding: 5px; width: 20px; height: 20px; float: right;
}
.PMLC12_w_text_greena {
	height: 30px; color: rgb(0, 102, 0); line-height: 30px;
}
.PMLC12_w_ba {
	text-align: left; color: rgb(51, 51, 51); line-height: 20px; font-size: 12px; font-weight: bold;
}
.PMLC12_w_table_a {
	margin: auto; border: 0px currentColor; border-image: none; width: 795px; height: auto; padding-top: 10px;
}
.PMLC12_w_table_b {
	margin: auto; border: 0px currentColor; border-image: none; width: 795px; height: auto;
}
.PMLC12_w_table_bN {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(153, 171, 146) rgb(153, 171, 146); margin: auto; border-image: none; width: 800px; height: auto; padding-top: 25px;
}
.PMLC12_w_text_a {
	text-align: left; color: rgb(102, 102, 102); line-height: 20px; font-weight: bold; vertical-align: top;
}
.PMLC12_w_text_b {
	text-align: left; color: rgb(157, 6, 31); line-height: 20px;
}
.PMLC12_w_text_c {
	text-align: left; color: rgb(153, 153, 153); line-height: 20px;
}
.PMLC12_w_text_d {
	text-align: left; color: rgb(102, 102, 102); line-height: 20px;
}
.PMLC12_w_text_gray {
	text-align: right; color: rgb(11, 71, 2); line-height: 30px; font-size: 12px; font-weight: bold;
}
.PMLC12_w_bian {
	border: 1px solid rgb(122, 176, 108); border-image: none; width: 240px; height: 20px; line-height: 20px; font-size: 12px;
}
.PMLC12_w_bian_a {
	border: 1px solid rgb(122, 176, 108); border-image: none; height: auto; font-size: 12px;
}
.PMLC12_w_bgxian {
	height: 30px; background-image: url("../../images/pmlc12_w_bgxian.gif"); background-repeat: repeat-x;
}
.PMLC12_w_bgxian1 {
	height: 2px; background-image: url("../../images/pmlc12_w_bgxian_q.gif"); background-repeat: repeat-x;
}
.PMLC12_w_sc {
	margin: auto; height: 70px; text-align: center; padding-top: 20px;
}
a.BigButton {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.gif");
}
a.BigButton:visited {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.gif");
}
a.BigButton:link {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.gif");
}
a.BigButton:hover {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.1.gif");
}
a.BigButton:active {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.1.gif");
}
.PMLC12_sclw_table_b {
	margin: auto; border: 0px currentColor; border-image: none; width: 100%; height: auto; padding-top: 25px;
}
.per_g {
	background-position: left; width: 45px; height: 17px; text-align: left; line-height: 17px; padding-left: 10px; float: left; display: block; background-image: url("../../images/pmlc_icon1.gif"); background-repeat: no-repeat;
}
.per_y {
	background-position: left; width: 45px; height: 17px; text-align: left; line-height: 17px; padding-left: 10px; float: left; display: block; background-image: url("../../images/pmlc_icon2.gif"); background-repeat: no-repeat;
}
.per_o {
	background-position: left; width: 45px; height: 17px; text-align: left; line-height: 17px; padding-left: 10px; float: left; display: block; background-image: url("../../images/pmlc_icon3.gif"); background-repeat: no-repeat;
}
.per_r {
	background-position: left; width: 45px; height: 17px; text-align: left; line-height: 17px; padding-left: 10px; float: left; display: block; background-image: url("../../images/pmlc_icon4.gif"); background-repeat: no-repeat;
}
.words {
	width: 40px; text-align: left; float: left;
}
.PMLC12_jcjg_a {
	width: 48px; height: 17px; text-align: left; color: rgb(51, 51, 51); line-height: 17px; padding-left: 10px; background-image: url("../../images/pmlc_icon4.gif"); background-repeat: no-repeat;
}
a.ResultSel {
	color: black; font-size: 12px; font-weight: bold; text-decoration: underline;
}
a.ResultSel:visited {
	color: black; font-size: 12px; font-weight: bold; text-decoration: underline;
}
a.ResultSel:link {
	color: black; font-size: 12px; font-weight: bold; text-decoration: underline;
}
a.ResultSel:hover {
	color: black; font-size: 12px; font-weight: bold; text-decoration: underline;
}
a.ResultSel:active {
	color: black; font-size: 12px; font-weight: bold; text-decoration: underline;
}
a.ResultNoSel {
	color: rgb(102, 102, 102); font-size: 10px; text-decoration: underline;
}
a.ResultNoSel:visited {
	color: rgb(102, 102, 102); font-size: 10px; text-decoration: underline;
}
a.ResultNoSel:link {
	color: rgb(102, 102, 102); font-size: 10px; text-decoration: underline;
}
a.ResultNoSel:hover {
	color: rgb(102, 102, 102); font-size: 10px; text-decoration: underline;
}
a.ResultNoSel:active {
	color: rgb(102, 102, 102); font-size: 10px; text-decoration: underline;
}
.Small_CheckResult {
	font-size: 10px;
}
.PMLC12_bottom {
	height: 82px; background-image: url("../../images/pmlc12_bottom_bg.gif"); background-repeat: repeat-x;
}
.PMLC12_bottom_logo {
	margin: auto; width: 500px; height: 54px; padding-top: 5px;
}
.PMLC12_bottom_left {
	width: 144px; height: 54px; float: left; background-image: url("../../images/PMLC12_logo.gif"); background-repeat: no-repeat;
}
.PMLC12_bottom_right {
	width: 355px; height: 54px; float: right;
}
.PMLC12_text_bottom {
	text-align: center; color: rgb(155, 243, 128); font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_input {
	border: 1px solid rgb(40, 144, 25); border-image: none; font-size: 12px;
}
ul {
	list-style-type: none;
}
#PMLC12_banner_menu {
	width: 717px; height: 32px; margin-top: 83px; position: relative; z-index: 90; background-image: url("../../images/PMLC12_banner_menu_bg.gif"); background-repeat: no-repeat;
}
#PMLC12_banner_menu ul {
	height: 32px; line-height: 32px; overflow: hidden; padding-right: 10px; margin-left: 10px;
}
#PMLC12_banner_menu ul li {
	width: 83px; height: 32px; line-height: 32px; float: left;
}
#PMLC12_banner_menu ul li a {
	width: 83px; text-align: center; color: rgb(200, 255, 136); font-size: 12px; text-decoration: none; display: block;
}
#PMLC12_banner_menu ul li a:hover {
	color: rgb(255, 255, 255); font-weight: 700; background-image: url("../../images/pmlc12_menu_bga.gif"); background-repeat: no-repeat;
}
#PMLC12_banner_menu .subnav {
	width: auto !important; height: 63px; float: left; display: none; position: absolute; z-index: 90; min-width: 80px; background-image: url("../../images/pmlc12_t1.gif"); background-repeat: no-repeat; _width: 0; _white-space: nowrap;
}
#PMLC12_banner_menu .back_div {
	height: 63px; margin-top: 2px; display: none; position: absolute;
}
#PMLC12_banner_menu .subnav p {
	background-position: right; height: 63px; padding-right: 10px; margin-left: 10px; background-image: url("../../images/pmlc12_t3.gif");
}
#PMLC12_banner_menu .subnav p span {
	height: 63px; display: block; background-image: url("../../images/pmlc12_t21.gif"); background-repeat: repeat-x;
}
#PMLC12_banner_menu .subnav p a {
	height: 63px; float: left; display: block;
}
#PMLC12_banner_menu .subnav p a:hover {
	height: 63px; background-image: url("../../images/pmlc12_t2b.gif");
}
#PMLC12_banner_menu .subnav .arrow {
	width: 50px; height: 7px; display: block; position: absolute; background-image: url("../../images/pmlc12_t4.gif");
}
.PMLC12_glyzx_left {
	width: 253px; height: 38px; background-image: url("../../images/pmlc12_bg_menu.gif"); background-repeat: no-repeat;
}
.PMLC12_glyzx_left_text {
	text-align: left; color: rgb(255, 255, 255); line-height: 38px; padding-left: 10px; font-size: 14px; font-weight: bold;
}
.PMLC12_glyzx_text_gray {
	text-align: right; color: rgb(11, 71, 2); line-height: 25px; font-size: 12px;
}
.PMLC12_center_a {
	margin: 0px; padding: 0px; width: 100%; height: auto !important; vertical-align: top; min-height: 500px;
}
.PMLC12_center_b {
	margin: 0px; padding: 0px; width: 100%; height: auto !important; vertical-align: top;
}
.PMLC12_center_wxjcjg_bt {
	width: 100%; height: 42px; background-image: url("../../images/pmlc12_wxjcjg_bja.gif"); background-repeat: repeat-x;
}
.PMLC12_wxjcjg_text_a {
	text-align: left; color: rgb(31, 101, 2); line-height: 42px; padding-left: 10px; font-size: 14px; font-weight: bold;
}
.PMLC12_wxjcjg_text_aF {
	text-align: left; color: rgb(31, 101, 2); line-height: 30px; padding-top: 5px; padding-left: 10px; font-size: 14px; font-weight: bold;
}
.PMLC12_wxjcjg_text_a1 {
	text-align: left; color: rgb(51, 51, 51); line-height: 42px; padding-left: 10px; font-size: 14px; font-weight: bold;
}
.PMlc12_wxjcjg_center_left {
	width: 60%; height: auto; float: left;
}
.PMlc12_wxjcjg_center_lefttable {
	width: 100%; height: auto; margin-top: 5px;
}
.PMlc12_wxjcjg_center_lefttable td {
	border: 0px currentColor; border-image: none; height: 22px;
}
.PMlC12_wxjcjg_text_b {
	text-align: left; color: rgb(51, 51, 51); line-height: 30px; padding-right: 30px; padding-left: 30px; font-size: 14px;
}
.PMlC12_wxjcjg_text_b p {
	line-height: 24px; text-indent: 2em; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.PMlC12_wxjcjg_center_right {
	width: 20%; height: auto; float: right;
}
.PMlC12_wxjcjg_center_rightNew {
	width: 40%; height: auto; float: right;
}
.PMlC12_wxjcjg_center_right_a {
	margin: auto; width: 150px; height: auto;
}
.PMlC12_wxjcjg_center_right_a1 {
	width: 150px; height: 25px; text-align: center; padding-top: 30px;
}
.PMLC12_right_table_bg {
	margin: auto; border: 0px currentColor; border-image: none; width: 100%; height: 24px;
}
.PMLC12_right_table_bg tr {
	border: 0px currentColor; border-image: none; width: 100%; height: 35px;
}
.PMLC12_right_table_bg td {
	border: 0px currentColor; border-image: none;
}
.PMLC12_right_table_bg th {
	border: 0px currentColor; border-image: none;
}
.PMLC12_right_table_bg_row {
	width: 100%; height: 35px; background-color: rgb(222, 244, 213);
}
.PMLC12_right_table_bg_rowb {
	width: 100%; height: 35px; background-color: rgb(255, 255, 255);
}
.PMLC12_right_table_bg_rowa {
	width: 100%; height: 35px; background-color: rgb(243, 252, 243);
}
.PMLC12_right_table_bgF {
	margin: auto; border: 0px currentColor; border-image: none; width: 100%; height: 24px;
}
.PMLC12_right_table_bgF tr {
	border: 0px currentColor; border-image: none; width: 100%; height: 24px;
}
.PMLC12_right_table_bgF td {
	border: 0px currentColor; border-image: none;
}
.PMLC12_right_table_bgF th {
	border: 0px currentColor; border-image: none;
}
.PMLC12_right_table_bg_rowF {
	width: 100%; height: 24px; background-color: rgb(222, 244, 213);
}
.PMLC12_right_table_bg_rowbF {
	width: 100%; height: 24px; background-color: rgb(255, 255, 255);
}
.PMLC12_right_table_bg_rowaF {
	width: 100%; height: 24px; background-color: rgb(243, 252, 243);
}
.PMLC12_right_table_full_height {
	width: 100%; padding-top: 10px; background-color: rgb(248, 252, 249);
}
a.PMLC12_yjcwx_btn {
	width: 220px; height: 39px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btnb.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn :visited {
	width: 220px; height: 39px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btnb.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn:link {
	width: 220px; height: 39px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btnb.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn:hover {
	width: 220px; height: 39px; text-align: center; color: rgb(108, 97, 6); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btna.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn:active {
	width: 220px; height: 39px; text-align: center; color: rgb(108, 97, 6); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btna.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn_a {
	width: 220px; height: 39px; text-align: center; color: rgb(108, 97, 6); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btna.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn_a:visited {
	width: 220px; height: 39px; text-align: center; color: rgb(108, 97, 6); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btna.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn_a:link {
	width: 220px; height: 39px; text-align: center; color: rgb(108, 97, 6); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btna.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn_a:hover {
	width: 220px; height: 39px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btna.gif"); background-repeat: no-repeat;
}
a.PMLC12_yjcwx_btn_a:active {
	width: 220px; height: 39px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; padding-top: 7px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc12_m_btna.gif"); background-repeat: no-repeat;
}
.PMLC12_yfbwx_text_a {
	text-align: left; color: rgb(31, 101, 2); line-height: 30px; padding-left: 10px; font-size: 14px; font-weight: bold;
}
.pmlc12_yfbwx_btn_jc {
	margin: auto; width: 100%; height: 60px; text-align: left; padding-top: 10px;
}
.PMLC12_w_text_d p {
	text-indent: 2em;
}
.PMLC12_grbdk_sc {
	margin: auto; width: 100%; height: 60px; text-align: left; padding-top: 10px;
}
.PMLC12_grbdk_table_b {
	border: 0px currentColor; border-image: none; width: 100%; height: auto; text-align: left; padding-top: 25px;
}
.PMLC12_grbdk_jsb {
	width: 800px; height: auto; float: left;
}
.PMLC12_ywhd_dhk {
	margin: auto; width: 100%; height: auto; text-align: center; padding-top: 5px;
}
.PMLC12_ywhd_text_a {
	text-align: center; color: rgb(31, 101, 2); line-height: 30px; font-size: 14px; font-weight: bold;
}
.PMLC12_ywhd_dhk_a {
	margin: auto; width: 800px; height: auto; text-align: left; padding-top: 5px; padding-bottom: 5px;
}
.PMLC12_w_text_c p {
	text-indent: 2em;
}
.PMLC12_center_ywhd {
	margin: 0px; padding: 0px; width: 100%; height: auto !important; vertical-align: top; min-height: 500px;
}
.PMLC12_w_text_b p {
	text-indent: 2em;
}
.PMLC12_llbd {
	padding: 30px; width: 50%; height: auto; text-align: center;
}
.PMLC12_llbd_a {
	background: rgb(255, 255, 255); margin: 5px; border: 1px solid rgb(152, 192, 146); border-image: none; width: 95%; height: 800px; text-align: left; line-height: 20px; overflow: auto; font-size: 14px;
}
.PMLC12_llbd_clearfix {
	display: inline-block;
}
.PMLC12_dpbd {
	margin: 5px; padding: 15px; border: 1px solid rgb(152, 192, 146); border-image: none; width: 95%; height: 200px; text-align: left; color: rgb(51, 51, 51); line-height: 30px; font-size: 14px;
}
.PMLC12_dpbd_inputsimple {
	background: rgb(255, 255, 255); margin: 5px; padding: 15px; border: 1px solid rgb(152, 192, 146); border-image: none; width: 95%; height: 800px; text-align: left; color: rgb(51, 51, 51); line-height: 30px; overflow: auto; font-size: 14px;
}
.PMLC12_dpbd_a {
	margin: 5px; padding: 15px; width: 95%; height: 800px;
}
.PMLC12_dpbd_inputsimple p {
	line-height: 24px; text-indent: 2em; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.PMLC12_dpbd_inputsimple p span {
	-ms-word-break: break-all; -ms-word-wrap: break-word;
}
.PMLC12_dpbd_gray {
	text-align: left; color: rgb(11, 71, 2); line-height: 15px; padding-left: 10px; font-size: 12px;
}
.PMLC12_dpbd_imgebtn {
	text-align: right; padding-right: 10px;
}
a.Blue {
	color: rgb(0, 0, 255); text-decoration: none;
}
a.Blue:visited {
	color: rgb(0, 0, 255); text-decoration: none;
}
a.Red {
	color: rgb(255, 0, 0); text-decoration: none;
}
a.Red:visited {
	color: rgb(255, 0, 0); text-decoration: none;
}
.Red {
	color: rgb(255, 0, 0); text-decoration: none;
}
.Blue {
	color: rgb(0, 0, 255); text-decoration: none;
}
.PMLC12_xxtj {
	padding: 30px; width: 100%; height: auto; text-align: center; vertical-align: top;
}
.PMLC12_xxtj_a {
	margin: auto; padding: 15px; border: 1px solid rgb(152, 192, 146); border-image: none; width: 50%; height: auto; background-color: rgb(228, 236, 213);
}
.PMLC12_xxtj_imge {
	margin: 10px; padding: 15px; border: 1px solid rgb(152, 192, 146); border-image: none; width: 605px; height: auto; text-align: center; vertical-align: top; background-color: rgb(228, 236, 213);
}
.PMLC12_xxtj_imge_a {
	margin: 10px 0px; padding: 15px; border: 1px solid rgb(152, 192, 146); border-image: none; width: 96%; height: auto; text-align: center; vertical-align: top; background-color: rgb(228, 236, 213);
}
.PMLC12_xxtj_table_b {
	border: 0px currentColor; border-image: none; width: 95%; height: auto; text-align: left;
}
.PMLC12_xxtj_table_c {
	width: 100%; height: auto; text-align: left; overflow: visible;
}
.PMLC12_xxtj_statistics {
	margin: 10px 0px 10px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 95%; height: auto; text-align: left; overflow: hidden; padding-top: 5px; padding-bottom: 5px;
}
.PMLC12_xxtj_text {
	margin: 0px 0px 5px 10px; width: 95%; height: auto; text-align: left; padding-left: 10px;
}
.PMLC12_xxtj_zyxxtj_a {
	margin: auto; padding: 15px; width: 800px; height: auto;
}
.PMLC12_xxtj_zyxxtj_a {
	margin: auto; padding: 15px; width: 800px; height: auto;
}
.PMLC12_tjy {
	margin: auto; width: 820px; height: auto; padding-top: 5px;
}
.PMLC12_tjy_a {
	margin: auto; width: 806px; height: auto;
}
.PMLC12_tjy_imga {
	width: 806px; height: 52px; background-image: url("../../images/pmlc12_fbjy_imges_a.gif"); background-repeat: no-repeat;
}
.PMLC12_tjy_imgb {
	width: 806px; height: auto !important; vertical-align: top; min-height: 400px; background-image: url("../../images/pmlc12_fbjy_imges_b.gif"); background-repeat: repeat-y;
}
.PMLC12_tjy_imgd {
	width: 806px; height: 32px; background-image: url("../../images/pmlc12_fbjy_imges_d.gif"); background-repeat: no-repeat;
}
.PMLC12_tjy_imgc {
	width: 806px; height: 23px; background-image: url("../../images/pmlc12_fbjy_imges_c.gif"); background-repeat: no-repeat;
}
.PMLC12_tjy_imge {
	width: 806px; height: 8px; background-image: url("../../images/pmlc12_fbjy_imges_e.gif"); background-repeat: no-repeat;
}
.PMLC12_wjzy_imga {
	width: 806px; height: 52px; background-image: url("../../images/pmlc12_wjzy.gif"); background-repeat: no-repeat;
}
.NeiRong {
	border: 1px solid rgb(122, 176, 108); border-image: none;
}
.PMLC12_change_table_b {
	border: 0px currentColor; border-image: none; width: 100%; height: auto !important; padding-top: 2px; min-height: 530px;
}
.PMLC12_change {
	margin: auto; width: 776px; height: 512px; background-image: url("../../images/pmlc12_changeps.gif"); background-repeat: no-repeat;
}
.PMLC12_yxchange {
	margin: auto; width: 776px; height: 512px; background-image: url("../../images/pmlc12_yxchangeps.gif"); background-repeat: no-repeat;
}
.PMLC12_change_a {
	margin: auto; width: 750px; height: 300px; padding-top: 75px;
}
.PMLC12_change_bian {
	border: 1px solid rgb(122, 176, 108); border-image: none; height: 25px; font-size: 12px;
}
.PMLC12_yjqk {
	margin: auto; width: 776px; height: 512px; background-image: url("../../images/pmlc12_yjqk.gif"); background-repeat: no-repeat;
}
.OverStyle {
	color: red; font-weight: bold; cursor: pointer;
}
.OutStyle {
	color: red; cursor: pointer;
}
.OverStyle2 {
	color: red; font-weight: bold;
}
.OutStyle2 {
	color: red;
}
.MessageShow {
	border: 1px solid rgb(170, 204, 238); border-image: none; width: 300px; display: block; position: absolute; z-index: 50; background-color: rgb(240, 248, 235);
}
.MessageHidden {
	display: none;
}
.MessageTitle {
	height: 16px; text-align: right; border-bottom-color: rgb(170, 204, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.Font_Color_Red {
	color: red;
}
.Font_Color_Green {
	color: rgb(226, 138, 5);
}
.Font_Color_Grey {
	color: rgb(102, 102, 102);
}
.PMLC12_xjwjj_imga {
	width: 806px; height: 52px; background-image: url("../../images/pmlc12_xjwjj_a.gif"); background-repeat: no-repeat;
}
.PMLC12_xjwjj_imgd {
	width: 806px; height: 32px; background-image: url("../../images/pmlc12_xjwjj_c.gif"); background-repeat: no-repeat;
}
.PMLC12_login_mainbody {
	width: 100%; height: 100%; background-color: rgb(254, 253, 247);
}
.PMlC12_login_head {
	width: 100%; height: 82px; text-align: center; background-color: rgb(27, 122, 2);
}
.PMLC12_login_head_bg_reg {
	margin: auto; width: 1005px; height: 82px; background-image: url("../../images/login0203.gif"); background-repeat: no-repeat;
}
.PMlC12_login_bottom {
	width: 100%; height: 70px; text-align: center; background-color: rgb(27, 122, 2);
}
.PMLC12_login_bottom_logo {
	margin: auto; width: 500px; height: 54px; padding-top: 5px;
}
.PMLC12_login_bottom_left {
	width: 144px; height: 54px; float: left; background-image: url("../../images/PMLC12_logo.gif"); background-repeat: no-repeat;
}
.PMLC12_login_bottom_right {
	width: 355px; height: 54px; float: right;
}
.PMLC12_login_text_bottom {
	text-align: center; color: rgb(155, 243, 128); font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.TMLC12_login_top {
	width: 100%; height: 117px; text-align: center; background-color: rgb(18, 120, 3);
}
.TMLC12_login_bg {
	margin: auto; width: 1003px; height: 117px; background-image: url("../../images/TMLC2_login.gif"); background-repeat: no-repeat;
}
.VIP_menu {
	width: 300px; height: 30px; text-align: right; color: rgb(206, 235, 143); line-height: 30px; padding-right: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: right;
}
.VIP_menu a:link {
	color: rgb(206, 235, 143); text-decoration: none;
}
.VIP_menu a:visited {
	color: rgb(206, 235, 143); text-decoration: none;
}
.VIP_menu a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.VIP_menu a:active {
	color: rgb(206, 235, 143); text-decoration: none;
}
.PMLC12_login_head_bg {
	margin: auto; width: 1005px; height: 82px; background-image: url("../../images/login0203.gif"); background-repeat: no-repeat;
}
.PMlC12_login_center {
	margin: auto; width: 1005px; height: auto; text-align: center; background-color: rgb(254, 253, 247);
}
.PMLC12_login_left {
	width: 707px; height: 280px; float: left; background-image: url("../../images/pmlc12_login_banner.gif"); background-repeat: no-repeat;
}
.PMLC12_login_right {
	width: 298px; height: 263px; float: right; background-image: url("../../images/pmlc12_login_login.gif"); background-repeat: no-repeat;
}
.PMLC12_login_c {
	width: 707px; height: 276px; float: left; background-image: url("../../images/pmlc12_login_c.gif"); background-repeat: no-repeat;
}
.PMLC12_login_d {
	width: 298px; height: 276px; float: right;
}
.PMLC12_login_c1 {
	width: 216px; height: 62px; text-align: left; padding-top: 15px; padding-left: 40px;
}
.PMLC12__FL {
	width: 580px; height: auto; text-align: left; padding-top: 8px;
}
.PMLC12_FL ul {
	width: 500px; height: auto; padding-left: 80px;
}
.PMLC12_FL li {
	height: 20px; text-align: left; color: rgb(102, 102, 102); font-size: 12px; list-style-image: url("../../images/pmlc12_F_d.gif");
}
.PMLC12_login_c2 {
	width: 216px; height: 62px; text-align: left; padding-top: 20px; padding-left: 10px;
}
.PMLC12_FRt {
	width: 260px; height: 90px; text-align: left; padding-top: 15px; padding-left: 25px;
}
.PMLC12_tx {
	color: rgb(0, 102, 0); line-height: 20px; font-size: 12px;
}
.PMLC12_p1 {
	width: 60px; color: rgb(51, 51, 51); line-height: 25px; font-size: 12px;
}
.PMLC12_an_left {
	width: 73px; height: 24px; text-align: center; float: left;
}
.PMLC12_an_right {
	width: 73px; height: 24px; text-align: center; float: right;
}
.PMlC12_login_bottom {
	width: 100%; height: 70px; text-align: center; background-color: rgb(27, 122, 2);
}
.PMLC12_login_bottom_logo {
	margin: auto; width: 500px; height: 54px; padding-top: 5px;
}
.PMLC12_login_bottom_left {
	width: 144px; height: 54px; float: left; background-image: url("../../images/PMLC12_logo.gif"); background-repeat: no-repeat;
}
.PMLC12_login_bottom_right {
	width: 355px; height: 54px; float: right;
}
.PMLC12_login_text_bottom {
	text-align: center; color: rgb(155, 243, 128); font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_honour {
	background-position: 40px 6px; margin: 253px 30px 0px 0px; width: 620px; color: rgb(0, 102, 0); line-height: 30px; font-family: "Times New Roman" , Times, serif; font-size: 12px; float: right; background-image: url("../../images/index_0005.gif"); background-repeat: no-repeat;
}
.PMLC12_honour a:link {
	color: rgb(0, 102, 0); text-decoration: none;
}
.PMLC12_honour a:visited {
	color: rgb(0, 102, 0); text-decoration: none;
}
.PMLC12_honoura:hover {
	color: rgb(0, 102, 0); text-decoration: none;
}
.PMLC12_honour a:active {
	color: rgb(0, 102, 0); text-decoration: none;
}
.PMLC12_sysms {
	margin: auto; width: 298px; height: 60px;
}
.PMLC12_zc_table_b {
	border: 0px currentColor; border-image: none; width: 100%; height: auto; padding-top: 2px;
}
.PMLC12_zc {
	margin: auto; width: 877px; height: auto; padding-top: 5px;
}
.PMLC12_zc_a {
	margin: auto; width: 877px; height: auto;
}
.PMLC12_zc_imga {
	width: 877px; height: 50px; background-image: url("../../images/pmlc12_zc_a.gif"); background-repeat: no-repeat;
}
.PMLC12_zc_table_b {
	border: 0px currentColor; border-image: none; width: 100%; height: auto; text-align: left;
}
.PMLC12_zc_text_gray {
	text-align: right; color: rgb(11, 71, 2); line-height: 30px; font-size: 14px;
}
.PMLC12_zc_text_gray_a {
	text-align: left; color: rgb(21, 96, 4); line-height: 18px; font-size: 12px;
}
.PMLC12_zc_text_d {
	text-align: left; color: rgb(102, 102, 102); line-height: 30px;
}
.PMLC12_zc_imgb {
	width: 877px; height: auto !important; vertical-align: top; min-height: 400px; background-image: url("../../images/pmlc12_zc_b.gif"); background-repeat: repeat-y;
}
.PMLC12_zc_imgg {
	width: 877px; height: 32px; background-image: url("../../images/pmlc12_zc_g.gif"); background-repeat: no-repeat;
}
.PMLC12_zc_red {
	text-align: center; color: rgb(131, 4, 4); line-height: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_zc_red_a {
	text-align: center; color: rgb(131, 4, 4); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.PMLC12_zc_imgc {
	width: 877px; height: 32px; background-image: url("../../images/pmlc12_zc_c.gif"); background-repeat: no-repeat;
}
.PMLC12_zc_imgd {
	width: 877px; height: 32px; background-image: url("../../images/pmlc12_zc_d.gif"); background-repeat: no-repeat;
}
.PMLC12_zc_imge {
	width: 877px; height: 32px; background-image: url("../../images/pmlc12_zc_e.gif"); background-repeat: no-repeat;
}
.PMLC12_zc_imgf {
	width: 877px; height: 32px; background-image: url("../../images/pmlc12_zc_f.gif"); background-repeat: no-repeat;
}
.PMLC12_zytj_table {
	width: 100%; height: 100%; padding-top: 10px; background-color: rgb(248, 252, 249);
}
.PMLC12_zytj_table_b {
	border: 0px currentColor; border-image: none; width: 100%; height: auto; text-align: left;
}
.PMLC12_zytj_table_c {
	width: 100%; height: auto;
}
.PMLC12_zytj_text {
	margin: 0px 0px 5px 10px; width: 95%; height: auto; text-align: left;
}
.PMLC12_zytj_image {
	margin: 10px 0px; padding: 15px; border: 1px solid rgb(152, 192, 146); border-image: none; width: 605px; height: auto; text-align: center; vertical-align: top; background-color: rgb(228, 236, 213);
}
.PMLC12_zytj_right {
	margin: 7px; padding: 7px; width: 82%; height: auto; text-align: left; vertical-align: top; background-color: rgb(248, 252, 249);
}
.progressWrapper {
	width: 650px; overflow: hidden; padding-left: 80px;
}
.progressContainer {
	margin: 5px; border: 1px solid rgb(232, 232, 232); border-image: none; width: 600px; text-align: left; overflow: hidden;
}
.progressName {
	width: 323px; height: 14px; text-align: left; color: rgb(85, 85, 85); overflow: hidden; font-size: 9pt; font-weight: 700; white-space: nowrap;
}
.progressBarInProgress {
	width: 0%; height: 2px; font-size: 0px; margin-top: 2px; background-color: blue;
}
.progressBarComplete {
	width: 0%; height: 2px; font-size: 0px; margin-top: 2px; background-color: blue;
}
.progressBarError {
	width: 0%; height: 2px; font-size: 0px; margin-top: 2px; background-color: blue;
}
.progressBarComplete {
	width: 100%; visibility: hidden;
}
.progressBarError {
	width: 100%; visibility: hidden; background-color: red;
}
.progressBarStatus {
	width: 337px; text-align: left; font-family: Arial; font-size: 9pt; margin-top: 2px; white-space: nowrap;
}
a.progressCancel {
	background-position: -14px 0px; width: 14px; height: 14px; font-size: 0px; float: right; display: block; background-repeat: no-repeat;
}
a.progressCancel:hover {
	background-position: 0px 0px;
}
.PMLC12_xzkhd_bg {
	margin: auto; width: 640px; height: 520px; background-image: url("../../images/pmlc12_bg_khdxzgj.gif"); background-repeat: no-repeat;
}
.PMLC12_anniu {
	width: 600px; height: 64px; text-align: left; padding-top: 90px; padding-left: 30px;
}
a.PMLC12_btn_xz {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_bb.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz:visited {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_bb.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz:link {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_bb.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz:hover {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_aa.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz:active {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_aa.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz_A {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_aa.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz_A:visited {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_aa.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz_A:link {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_aa.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz_A:hover {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_aa.gif"); background-repeat: no-repeat;
}
a.PMLC12_btn_xz_A:active {
	width: 322px; height: 64px; display: block; background-image: url("../../images/pmlc12_xzkhd_aa.gif"); background-repeat: no-repeat;
}
.PMLC12_khdxz_bta {
	width: 580px; height: 40px; padding-top: 30px; padding-left: 50px;
}
.PMLC12_khdxz_bt {
	width: 580px; height: auto; text-align: left; padding-top: 5px; padding-left: 50px;
}
.PMLC12_jcxsbg_table {
	margin: 10px auto auto; width: 100%; height: auto; padding-bottom: 10px; border-bottom-color: rgb(0, 102, 0); border-bottom-width: 2px; border-bottom-style: solid; float: left;
}
.PMLC12_jcxsbg_table_a {
	width: 97%; height: auto;
}
.PMLC12_jcxsbg_a {
	padding: 5px; border: 1px solid rgb(179, 225, 190); border-image: none; width: 48%; height: auto; margin-top: 5px; vertical-align: top; float: left;
}
.PMLC12_jcxsbg_b {
	padding: 5px; border: 1px solid rgb(179, 225, 190); border-image: none; width: 48%; height: auto; margin-top: 5px; vertical-align: top; float: right;
}
.PMLC12_jcxsbg_k {
	text-align: left; padding-top: 10px; padding-bottom: 20px; padding-left: 20px;
}
.RedFont {
	color: red;
}
.PMLC12_text_block_a2 {
	text-align: left; color: rgb(51, 51, 51); line-height: 20px; padding-left: 10px;
}
.table_check_rs table {
	border: 1px solid rgb(204, 204, 204); border-image: none; border-collapse: collapse; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.table_check_rs table td {
	padding: 0px 5px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
th {
	padding: 0px 5px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.PMLC12_jcxsbg_text {
	text-align: left; color: rgb(11, 71, 2); line-height: 15px; padding-bottom: 3px; padding-left: 10px; font-size: 12px;
}
.PMLC12_jcxsbg_text_a {
	text-align: left; color: rgb(0, 0, 0); line-height: 15px; padding-bottom: 3px; padding-left: 10px; font-size: 12px;
}
.PMLC12_jcxsbg_text_b {
	text-align: left; color: black; line-height: 15px; padding-bottom: 3px; padding-left: 10px; font-size: 12px; font-weight: bold;
}
a.menu_sel {
	color: rgb(255, 255, 255); font-weight: 700; background-image: url("../../images/pmlc12_menu_bga.gif"); background-repeat: no-repeat;
}
a.menu_sel:visited {
	color: rgb(255, 255, 255); font-weight: 700; background-image: url("../../images/pmlc12_menu_bga.gif"); background-repeat: no-repeat;
}
a.menu_sel:link {
	color: rgb(255, 255, 255); font-weight: 700; background-image: url("../../images/pmlc12_menu_bga.gif"); background-repeat: no-repeat;
}
a.menu_sel:active {
	color: rgb(255, 255, 255); font-weight: 700; background-image: url("../../images/pmlc12_menu_bga.gif"); background-repeat: no-repeat;
}
a.menu_sel:hover {
	color: rgb(255, 255, 255); font-weight: 700; background-image: url("../../images/pmlc12_menu_bga.gif"); background-repeat: no-repeat;
}
.PMLC12_xxlb_table_bga {
	width: 100%; height: 24px;
}
.PMLC12_xxlb_table_bga tr {
	border: 0px currentColor; border-image: none; width: 100%; height: 24px;
}
.PMLC12_xxlb_table_bgb {
	width: 100%; height: 24px;
}
.PMLC12_xxlb_table_bgb tr {
	border: 0px currentColor; border-image: none; width: 100%; height: 24px;
}
a.PMLC12_sclw_a {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_a:visited {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_a:link {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_a:hover {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw_A.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_a:active {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw_A.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_b {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw_A.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_b:visited {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw_A.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_b:link {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw_A.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_b:hover {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw_A.gif"); background-repeat: no-repeat;
}
a.PMLC12_sclw_b:active {
	width: 155px; height: 33px; display: block; background-image: url("../../images/PMLC12_sclw_A.gif"); background-repeat: no-repeat;
}
.PMLC12_gd_text_a {
	text-align: left; color: rgb(51, 51, 51); padding-top: 5px; padding-left: 5px; font-size: 12px; font-weight: bold;
}
.PMLC12_gd_text_c {
	text-align: left; line-height: 20px; font-size: 12px;
}
.PMLC12_zyxxtj {
	margin: auto; width: 877px; height: auto !important; padding-top: 5px; min-height: 530px;
}
.PMLC12_zyxxtj_a {
	margin: auto; width: 877px; height: auto;
}
.PMLC12_wjjgl_imga {
	width: 877px; height: 50px; background-image: url("../../images/pmlc12_wjjgl_images_a.gif"); background-repeat: no-repeat;
}
.PMLC12_zyxxtj_imga {
	width: 877px; height: 50px; background-image: url("../../images/pmlc12_xxtj_zyxxtj.gif"); background-repeat: no-repeat;
}
.PMLC12_zyxxtj_imgb {
	width: 877px; height: auto !important; vertical-align: top; min-height: 400px; background-image: url("../../images/pmlc12_zc_b.gif"); background-repeat: repeat-y;
}
.PMLC12_zyxxtj_table_b {
	margin: 10px 25px 10px 18px; border: 0px currentColor; border-image: none; width: 95%; height: auto; padding-top: 10px;
}
.PMLC12_zyxxtj_imgg {
	width: 877px; height: 32px; background-image: url("../../images/pmlc12_zc_g.gif"); background-repeat: no-repeat;
}
.div_r_info {
	padding: 5px; border: 1px solid rgb(198, 203, 207); border-image: none; margin-bottom: 5px;
}
.div_r_item {
	display: none;
}
.but_control_show {
	cursor: pointer;
}
.but_control_hide {
	cursor: pointer;
}
.text1 {
	margin: 5px 0px; padding: 0px; width: 100%; height: auto; text-align: left;
}
.table {
	margin: 10px auto; width: 100%; height: auto; text-align: left; overflow: visible;
}
.LC_text {
	text-align: right; line-height: 20px; font-size: 12px;
}
.LC_p3 {
	text-align: left; color: rgb(0, 102, 0); line-height: 20px; font-size: 12px;
}
.LC_p4 {
	text-align: left; color: rgb(51, 51, 51); line-height: 20px; font-size: 12px;
}
.LC_p5 {
	text-align: left; color: rgb(102, 102, 102); line-height: 20px; font-size: 12px;
}
.LC_Div {
	position: relative;
}
.LC_Table {
	margin: 5px 3px;
}
.LC_Table_TR {
	line-height: 24px;
}
.LC_Table_TD1 {
	width: 80px; text-align: right;
}
.LC_Table_TD2 {
	text-align: left;
}
.LC_Table_TD3 {
	text-align: right; padding-right: 63px;
}
.LC_TableTD4 {
	width: 100%; text-align: right;
}
.LC_Btn {
	width: 17px; height: 18px; vertical-align: middle; cursor: pointer;
}
.LC_Form_Div {
	border: 1px solid rgb(102, 102, 102); border-image: none; left: 323px; top: 30px; width: 380px; height: auto; float: left; position: absolute; z-index: 50; background-color: rgb(255, 255, 255);
}
.LC_Form_Div2 {
	border: 1px solid rgb(102, 102, 102); border-image: none; left: 60px; top: 30px; width: 380px; height: auto; float: left; position: absolute; z-index: 50; background-color: rgb(255, 255, 255);
}
.LC_Form_Div1 {
	width: 100%; height: 15px; background-color: rgb(143, 188, 143);
}
.LC_Table_text {
	border: 1px solid rgb(102, 102, 102); border-image: none; width: 150px; height: 15px;
}
.LC_Table1 {
	width: 100%; height: 15px;
}
.LC_Table_Input {
	width: 150px; height: 16px; line-height: 16px;
}
.lc_w_bgxian {
	height: 20px; background-image: url("../../images/pmlc12_w_bgxian_a.gif"); background-repeat: repeat-x;
}
.wai {
	margin: 100px auto auto; padding: 10px; border: 1px solid rgb(199, 199, 199); border-image: none; width: 400px; height: 200px; text-align: left; line-height: 30px; font-family: ????; background-color: rgb(245, 245, 245);
}
.wai h3 {
	line-height: 40px;
}
.wai1-2 {
	margin: 100px auto auto; padding: 10px; border: 1px solid rgb(199, 199, 199); border-image: none; width: 260px; height: 200px; text-align: left; line-height: 30px; font-family: ????; background-color: rgb(245, 245, 245);
}
.s_new_table_bt {
	text-align: left; color: rgb(51, 51, 51); line-height: 20px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(179, 198, 173); border-bottom-width: 2px; border-bottom-style: solid;
}
.s_new_wxjcjg_center_left {
	width: 60%; height: auto; float: left;
}
.s_new_wxjcjg_center_right {
	width: 40%; height: auto; float: right;
}
.s_new_wxjcjg_center_right_a {
	margin: auto; width: 150px; height: auto;
}
.s_new_wxjcjg_center_right_a1 {
	width: 150px; height: 25px; text-align: center; padding-top: 30px;
}
.s_new_text_grayl a {
	color: rgb(11, 71, 2);
}
.s_new_text_gray_am a {
	color: rgb(11, 71, 2);
}
.s_new_text_grayl a:hover {
	color: rgb(123, 171, 124);
}
.s_new_text_gray_am a:hover {
	color: rgb(123, 171, 124);
}
a.s_new_n {
	color: rgb(102, 102, 102);
}
a.s_new_n:hover {
	color: rgb(102, 102, 102);
}
.s_new_w_bian {
	height: 20px; line-height: 20px; font-size: 12px;
}
.s_new_w_bians {
	height: 20px; line-height: 20px; font-size: 12px;
}
.s_new_text_gray {
	text-align: right; color: rgb(11, 71, 2); line-height: 15px; font-size: 12px;
}
.s_new_text_gray_zwz {
	text-align: right; color: rgb(11, 71, 2); line-height: 15px; font-size: 12px; font-weight: bold;
}
.s_new_text_grayl {
	text-align: left; color: rgb(11, 71, 2); line-height: 15px; font-size: 12px;
}
.s_new_text_gray img {
	float: left;
}
.s_new_text_grays {
	text-align: right; color: rgb(123, 171, 124); line-height: 15px; font-size: 12px;
}
.s_new_text_gray_a {
	text-align: left; color: rgb(102, 102, 102); line-height: 15px; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.s_new_tj_fzb {
	color: rgb(102, 102, 102); font-size: 10px;
}
.s_new_text_gray_as {
	text-align: left; color: rgb(0, 0, 0); line-height: 15px; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.s_new_text_gray_as_f {
	text-align: left; color: rgb(0, 0, 0); line-height: 15px; padding-left: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.s_new_text_gray_am {
	text-align: left; color: rgb(11, 71, 2); line-height: 15px; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.s_new_table_js {
	width: 100%; height: auto; margin-top: 5px;
}
.s_new_table_js td {
	line-height: 20px;
}
.s_new_table_zyjs {
	width: 100%; height: auto; line-height: 20px;
}
.s_new_jcjg_a {
	width: 48px; height: 17px; text-align: left; background-repeat: no-repeat;
}
.s_new_fzb_ct {
	color: rgb(51, 51, 51); line-height: 15px; font-weight: bold;
}
.s_new_table_zyjs td {
	line-height: 20px;
}
.s_new_w_bgxian {
	height: 18px; background-image: url("../../images/pmlc12_w_bgxian.gif"); background-repeat: repeat-x;
}
.s_new_w_bgxians {
	height: 18px; background-image: url("../../images/pmlc12_w_bgxians.gif"); background-repeat: repeat-x;
}
.s_new_table_ck {
	color: rgb(12, 112, 32);
}
.s_new_table_ck:hover {
	color: rgb(123, 171, 124);
}
.s_new_tj_bgsj {
	color: rgb(0, 0, 0);
}
.s_new_tj_bgsj:hover {
	color: rgb(160, 2, 6);
}
.s_new_hui {
	color: rgb(102, 102, 102);
}
.s_new_bz {
	font-weight: normal;
}
.s_new_table_td {
	vertical-align: top; min-height: 150px;
}
.s_new_img {
	vertical-align: middle;
}
.t_new_tj_bgsj {
	font-weight: bold;
}
.t_new_table_bt {
	text-align: left; color: rgb(51, 51, 51); line-height: 42px; border-bottom-color: rgb(179, 198, 173); border-bottom-width: 2px; border-bottom-style: solid;
}
.t_right_table_bg_row {
	width: 100%; height: 25px; background-color: rgb(222, 244, 213);
}
.t_right_table_bg_row td {
	color: rgb(0, 93, 0); font-weight: bold;
}
.t_text_blockbiao_a a {
	color: rgb(0, 93, 0);
}
.t_text_blockbiao_a a:hover {
	color: rgb(3, 132, 3);
}
.t_right_table_bg {
	width: 100%; height: 24px;
}
.t_right_table_bg_a {
	margin-top: 10px;
}
.t_right_table_bg tr {
	border: 0px currentColor; border-image: none; width: 100%;
}
.t_right_table_bg td {
	border: 0px currentColor; border-image: none;
}
.t_right_table_bg_row {
	width: 100%; height: 25px; background-color: rgb(222, 244, 213);
}
.t_right_table_bg_rowb {
	width: 100%; height: 25px; background-color: rgb(255, 255, 255);
}
.t_right_table_bg_rowa {
	width: 100%; height: 25px; background-color: rgb(243, 252, 243);
}
.t_jc_xh {
	text-align: center;
}
.t_jc_dlzs {
	color: rgb(102, 102, 102);
}
td.t_pqgd {
	text-align: left; color: rgb(0, 0, 0);
}
.t_pqgd_lb {
	background: rgb(236, 237, 236); margin: 10px auto; padding: 10px; width: 96%;
}
.t_table_bz_gdh {
	height: 20px; text-align: left; color: rgb(45, 45, 44); line-height: 20px; text-indent: 18px; font-weight: bold;
}
.t_table_bz_gd {
	text-align: left; color: rgb(129, 4, 4); line-height: 20px;
}
.t_table_bz_mark {
	text-align: center; line-height: 20px; font-weight: bold;
}
.t_pqgd_lb_a {
	border-bottom-color: rgb(18, 120, 3); border-bottom-width: 1px; border-bottom-style: dotted;
}
.PMlC12_login_head1 {
	width: 100%; height: 116px; text-align: center; background-color: rgb(27, 122, 2);
}
.PMLC12_login_menu1 {
	width: 300px; height: 30px; text-align: right; color: rgb(206, 235, 143); line-height: 30px; padding-top: 10px; padding-right: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: right;
}
.PMLC12_login_menu1 img {
	padding-bottom: 8px;
}
.hand_btn {
	padding: 10px 0px 0px 140px; width: 164px;
}
.PMLC12_login_menu1 a:link {
	color: rgb(206, 235, 143); text-decoration: none;
}
.PMLC12_login_menu1 a:visited {
	color: rgb(206, 235, 143); text-decoration: none;
}
.PMLC12_login_menu1 a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.PMLC12_login_menu1 a:active {
	color: rgb(206, 235, 143); text-decoration: none;
}
.PMLC12_login_head_bg1 {
	margin: auto; width: 1005px; height: 116px; background-image: url("../../images/pmlc12_login_head1.gif"); background-repeat: no-repeat;
}
.service {
	background: url("../../images/kf-bgl.png") no-repeat; padding: 6px; top: 21px; width: 106px; height: 172px; right: -12px; position: absolute; z-index: 999990;
}
.ser-top {
	height: 23px; text-align: center;
}
.ser-top .ser-del:hover {
	background-position: -14px -2px;
}
.ser-botton {
	background: url("../../images/kf-bgw.jpg") no-repeat; padding: 8px 9px 0px 7px; height: 132px; display: block;
}
.ser-talk {
	background: url("../../images/kf-line.png") no-repeat; height: 37px; overflow: hidden; display: block;
}
.ser-talk-top {
	background: none;
}
.ser-talk a {
	background: url("../../images/kf-nav1.png") no-repeat; margin: 7px 0px 0px 4px; height: 25px; overflow: hidden; display: block; widht: 83px;
}
.ser-times {
	background: url("../../images/kf-time-line.png") no-repeat 0px 7px; overflow: hidden; padding-top: 13px; display: block;
}
.ser-times p {
	margin: 0px; padding: 0px; text-align: center; line-height: 18px;
}
.ser-times .ser-p1 {
	color: rgb(102, 102, 102); font-family: "??????"; font-size: 14px;
}
.ser-times .ser-p2 {
	color: rgb(60, 60, 60); font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;
}
.PMLC12_t_white_a_a {
	width: 170px; padding-left: 0px;
}
