<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css"
	href="../../../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/icon.css" />
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/js/validation.js"></script>

<script src="../../../../../../common/html/js/tablecommon.js"></script>
<script type="text/javascript" src="../../../js/apply/10abstract.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/table.css" />
<link rel="stylesheet" type="text/css" href="../../../css/button.css" />
</head>

<body>
	<form id="abstract" method="post">
		<div class="project_content">
			<div class="table_title clearfix">
				<div class="title_pic left">项目申请书</div>
				<div class="right back_pic" id="back"></div>
			</div>
			<div class="table_content back-long">
				<div class="basic_info bg_blue">

					<p class="title_top p-b10">申报项目简介</p>
					<p class="subtitle">（项目可为涉及第七项内容中已开展但尚未完成或即将开展的工作，限1000字）</p>
					<div class="text_wrap">
						<textarea name="abstract" id="abstract" title="1000"
							class="text_content"
							placeholder="（一）项目名称
（二）拟开展工作内容
（三）拟定实施方式
（四）拟达到的效果
（五）时间安排
"></textarea>
					</div>

					<div class="button_wrapper clearfix">
						<div class="save">保存</div>
					</div>
				</div>

			</div>
		</div>
	</form>
</body>
</html>
