<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css"
	href="../../../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/icon.css" />
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/js/validation.js"></script>
<script src="../../../../../../common/html/js/tablecommon.js"></script>
<script type="text/javascript" src="../../../js/apply/10service_job.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/table.css" />
<link rel="stylesheet" type="text/css" href="../../../css/button.css" />
</head>

<body>
	<form id="service_job" method="post">
		<div class="project_content">
			<div class="table_title clearfix">
				<div class="title_pic left">项目申请书</div>
				<div class="right back_pic" id="back"></div>
			</div>
			<div class="table_content back-long">
				<div class="basic_info bg_blue">

					<p class="title_top p-b10">申报单位近二年开展的科技服务工作</p>
					<p class="subtitle">（申报单位组织开展的重大活动、公共服务平台搭建与完善，以及围绕科技服务开展的相关工作，限1000字）</p>
					<div class="text_wrap">
						<textarea name="service_job" id="service_job" class="text_content"
							title="1000"></textarea>
					</div>

					<div class="button_wrapper clearfix">
						<div class="save">保存</div>
					</div>
				</div>

			</div>
		</div>
	</form>
</body>
</html>
