<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script type="text/javascript" src="../../../../common/html/lib/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/default_iframe.js"></script>
<script type="text/javascript" src="../js/NTClientJavascript.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<link href="../css/default_iframe.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
  <div class="welcome">欢迎您！访问通州区科委办公平台！</div><!--welcome-->
  <!--<div class="shortcut">
  	<p>点击下列图标进行快速操作！</p>
  	<div class="shortcut-icon">
  	  <a href="javascript:void(0);" class="shortcut-block"><img src="../../../../common/html/lib/img/icon-6/pencil.png" width="48" height="48" alt="信息录入" /><br />信息录入</a>
  	  <a href="javascript:void(0);" class="shortcut-block"><img src="../../../../common/html/lib/img/icon-6/image.png" width="48" height="48" alt="上传图片" /><br />上传图片</a>
  	  <a href="javascript:void(0);" class="shortcut-block"><img src="../../../../common/html/lib/img/icon-6/event.png" width="48" height="48" alt="添加事件" /><br />添加事件</a>
      <div class="clear-both"></div>
  	</div>
  </div>-->
  <div class="module">
  	<div class="module-left">
        <div class="module-block">
          <h1 class=" margin-right-ajust">我的个人信息</h1>
          <div class="module-block-info margin-right-ajust">
          	用户名：<span id='cur_user'></span><br />
          	所属分组：<span id='catName'></span><br />
          	添加日期：<span id='addedDate'></span><br />
          	上次登录IP：<span id='lastIP'></span><br />
          	上次登录时间：<span id='lastLoginTime'></span><br />
          </div>
        </div><!--module-block-->
        <div class="module-block">
          <h1 class=" margin-right-ajust">开发团队</h1>
          <div class="module-block-info margin-right-ajust">版权所有：北京千松科技发展有限公司<br />
            总 策 划：李志晓<br />
            开发与支持团队：高雪、马军委、王乐、赵晓刚<br />
            UI 设计：张常明<br />
          官方网站：<a href="http://www.beijingqiansong.com" target="_blank">www.beijingqiansong.com</a> </div>
        </div><!--module-block-->
    </div><!--module-left-->
    <div class="module-right">
        <div class="module-block">
          <h1 class=" margin-left-ajust">系统信息</h1>
          <div class="module-block-info margin-left-ajust">程序版本：Ver 1.0<br />
            操作系统：WINNT <br />
            服务器软件：Apache/2.2.14 (Win32) PHP/5.2.6 <br />
          MySQL 版本：5.0.22-community-nt</div>
        </div><!--module-block-->
    </div><!--module-right-->
    <div class="clear-both"></div>
  </div><!--module-->
</div>
</body>
</html>
