<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>项目基本情况</title>

<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css"
		href="../../../../../../common/html/plugin/easyui/themes/icon.css">
		<script type="text/javascript"
			src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
		<script type="text/javascript"
			src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript"
			src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
		<script type="text/javascript"
			src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
		<script type="text/javascript"
			src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
		<link rel="stylesheet" type="text/css"
			href="../../../../../../website/html/view/css/tablestyle.css" />
		<script type="text/javascript"
			src="../../../js/apply/project2_info.js"></script>
			
<link rel="stylesheet" type="text/css" href="../../../css/button.css" />
		<style type="text/css">
input class ="easyui-validatebox" required ="true"{
	height: 100%;
	width: 99.5%;
	border: 0px;
}

textarea {
	height: 100%;
	width: 99.5%;
	border: 0px;
}

tr {
	height: 30px;
}

body {
	margin: auto 0;
}
</style>
</head>
<!-- class="easyui-panel" -->
<body>
	<div style="width: 100%; height: 100%;">
		<form method="post" id="2project_info_fm">
			<table style="width: 99.5%; height: 100%;" border="1" cellspacing="0">
				<tr>
					<td colspan="4"><h2>
							<center>三、项目基本情况</center>
						</h2></td>
				</tr>
				<tr>
					<td width="109">项目名称</td>
					<td colspan="3"><input class="easyui-validatebox"
						required="true"
						style="width: 99.5%; height: 100%; margin-left: 0px;" type="text"
						name="project_name" /></td>
				</tr>
				<tr>
					<td>项目建设地点</td>
					<td colspan="3"><input class="easyui-validatebox"
						required="true"
						style="width: 99.5%; height: 100%; margin-left: 0px;" type="text"
						name="project_place" /></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td>技术领域</td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="tech_area" /></td>
					<!-- 没有字段-->
					<td>项目技术水平</td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="tech_level" /></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td rowspan="9">项目技术水平证明材料</td>
					<td width="201">知识产权名称</td>
					<td width="124">类别</td>
					<td width="188">授权号</td>
				</tr>
				<tr>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<!-- 没有字段-->
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<!-- 没有字段-->
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
				</tr>
				<tr>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
				</tr>
				<tr>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
				</tr>
				<tr>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
				</tr>
				<tr>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
				</tr>
				<tr>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="" /></td>
				</tr>
				<tr>
					<td>其他证明材料</td>
					<td colspan="2"><input class="easyui-validatebox"
						required="true"
						style="width: 99.5%; height: 100%; margin-left: 0px;" type="text"
						name="" /></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td rowspan="2">项目计划投资总额（万元）</td>
					<td rowspan="2"><input class="easyui-validatebox"
						required="true" type="text" name="invest_total" /></td>
					<!-- 没有字段-->
					<td>其中已完成的实际投资额（万元）</td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="invested" /></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td>其中固定资产投资额（万元）</td>
					<td><input class="easyui-validatebox" required="true"
						type="text" name="fixed_invest" /></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td>合作项目简介（限1000字）</td>
					<td colspan="3"><textarea name="coproject_summary"
							class="easyui-validatebox" required="true"></textarea></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td>项目取得的科研成果（限500字）</td>
					<td colspan="3"><textarea name="tech_achieve"
							class="easyui-validatebox" data-options="multiline:true"
							required="true"></textarea></td>
					<!-- 没有字段-->
				</tr>
				<tr>
					<td>已取得的经济社会效益（限500字）</td>
					<td colspan="3"><textarea name="social_benefit"
							class="easyui-validatebox" data-options="multiline:true"
							required="true"></textarea></td>
					<!-- 没有字段-->
				</tr>
			</table>
			<a href="#" class="easyui-linkbutton" iconcls="icon-ok"
				onclick="submitdata()">确定</a> <a href="#" class="easyui-linkbutton"
				iconcls="icon-no" onclick="reset()">重置</a>
		</form>
	</div>
</body>
</html>
