<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>通州区高新技术企业认定服务机构资助资金申请表</title>
    <link rel="stylesheet" type="text/css"
          href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../../../../../common/html/plugin/easyui/themes/icon.css"/>
    <script type="text/javascript"
            src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
    <script type="text/javascript"
            src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript"
            src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
    <script type="text/javascript"
            src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
    <script type="text/javascript"
            src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../../../../../../website/html/view/css/tablestyle.css"/>
    <script type="text/javascript" src="../../../js/apply/11org_info.js"></script>
    <style type="text/css">
        tr {
            line-height: 30px;
        }

        table {
            border: 1px solid #BBB !important;
        }
        td {
            padding: 5px;
            border: 1px solid #BBB !important;
        }
        table input {
            width: 100%;
            padding: 5px 0;
        }
        input {
            border: 1px solid #DDD;
        }
    </style>
</head>

<body>
<div style="margin: 40px 50px 40px 20px;">
    <form method="post" id="11org_info_fm">
        <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="7">
                    <h2>
                        <center>高新技术企业认定服务机构资助资金申请表</center>
                    </h2>
                </td>
            </tr>
            <tr>
                <td width="82">单位名称</td>
                <td colspan="6"><input 
                                       type="text"
                                       name="org_name "/></td>
            </tr>
            <tr>
                <td>注册地址</td>
                <td colspan="4"><input 
                                       type="text"
                                       name="register_address"/></td>
                <td width="56">注册资金</td>
                <td width="88"><input 
                                      type="text" name="register_fund"/></td>
            </tr>
            <tr>
                <td>通讯地址</td>
                <td colspan="4"><input 
                                       type="text"
                                       name="leader_address"/></td>
                <td>邮政编码</td>
                <td><input  required="true"
                           type="text" name="postal"/></td>
            </tr>
            <tr>
                <td rowspan="2">法定代表人</td>
                <td colspan="2">姓名</td>
                <td colspan="2">身份证号码</td>
                <td colspan="2">联系电话（手机/座机）</td>
            </tr>
            <tr>
                <td colspan="2"><input 
                                       type="text"
                                       name="legal_name"/></td>
                <td colspan="2"><input 
                                       type="text" name="legal_id"/></td>
                <td colspan="2"><input 
                                       type="text" name="legal_phone"/></td>
            </tr>
            <tr>
                <td rowspan="2">联系人</td>
                <td colspan="2">姓名</td>
                <td colspan="2">E-mail</td>
                <td colspan="2">联系电话（手机/座机）</td>
            </tr>
            <tr>
                <td colspan="2"><input 
                                       type="text"
                                       name="linkman"/></td>
                <td colspan="2"><input 
                                       type="text" name="linkman_email"   datatype="email"/></td>
                <td colspan="2"><input 
                                       type="text" name="linkman_contact"  datatype="phandtel"/></td>
            </tr>
            <tr>
                <td>注册登记类型</td>
                <td colspan="3"><input 
                                       type="text"
                                       name="org_type"/></td>
                <td width="56">所属行业</td>
                <td colspan="2"><input 
                                       type="text" name="org_trade"/></td>
            </tr>
            <tr>
                <td colspan="3">开户银行</td>
                <td colspan="2">开户名称</td>
                <td colspan="2">银行账号</td>
            </tr>
            <tr>
                <td colspan="3"><input 
                                       type="text"
                                       name="org_bank"/></td>
                <td colspan="2"><input 
                                       type="text" name="username"/></td>
                <td colspan="2"><input 
                                       type="text" name="account"/></td>
            </tr>
            <tr>
                <td rowspan="10">上年度登记技术合同情况</td>
                <td width="65">合同编号</td>
                <td colspan="2">项目名称</td>
                <td colspan="2">认定时间</td>
                <td><p>合同金额(万元）</p></td>
            </tr>
            <tr>
                <td><input  required="true"
                           type="text" name="contract_code"/></td>
                <td colspan="2"><input 
                                       type="text" name="project_name"/></td>
                <td colspan="2"><input 
                                       type="text" name="affirm_time"/></td>
                <td><input  required="true"
                           type="text" name="contract_price"/></td>
            </tr>
            <tr>
                <td height="20"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="18"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td><input  required="true"
                           type="text" name=""/></td>
            </tr>
            <tr>
                <td><input  required="true"
                           type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td><input  required="true"
                           type="text" name=""/></td>
            </tr>
            <tr>
                <td><input  required="true"
                           type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td></td>
            </tr>
            <tr>
                <td><input  required="true"
                           type="text" id=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td><input  required="true"
                           type="text" id=""/></td>
            </tr>
            <tr>
                <td><input  required="true"
                           type="text" id=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td><input  required="true"
                           type="text" name=""/></td>
            </tr>
            <tr>
                <td><input  required="true"
                           type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td colspan="2"><input 
                                       type="text" name=""/></td>
                <td><input  required="true"
                           type="text" name=""/></td>
            </tr>
            <tr>
                <td colspan="5">合同总额（万元）</td>
                <td><input  required="true"
                           type="text" name="expect_contractMoney"/></td>
            </tr>
            <tr>
                <td>本年度预计登记合同份数</td>
                <td colspan="2"><input 
                                       type="text" name="expect_contractNums"/></td>
                <td width="98">本年度预计登记技术合同总额</td>
                <td colspan="3"><input 
                                       type="text" name="expect_contractMoney"/></td>
            </tr>
            <tr>
                <td>上边年上缴税金（万元）</td>
                <td colspan="6"><input 
                                       type="text" name="previous_taxes"/></td>
            </tr>
            <tr>
                <td rowspan="3">区科委主管科室意见</td>
                <td>核定金额</td>
                <td colspan="5"><input  type="text" name="check_amount"/></td>
            </tr>
            <tr>
                <td>奖励等级</td>
                <td colspan="5"><input 
                                       type="text" name="award_level"/></td>
            </tr>
            <tr>
                <td>科长签字</td>
                <td colspan="5" row="3"></td>
            </tr>
            <tr>
                <td>区科委意见</td>
                <td colspan="6"></td>
            </tr>
        </table>
            <div class="button_wrapper clearfix">
                <div class="submit" >提交</div>
                <div class="save" >保存</div>
                <!-- <div class="reset" >重置</div> -->
            </div>
    </form>
</div>
</body>
</html>
