<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>项目实施过程中人才培训情况</title>
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="../../../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/icon.css">
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="../../../js/apply/project_info/project_talent.js"></script>
</head>
<body>
	<div class="easyui-panel" style="border: 0;">
		<form method="post" id="10org_info_fm">
			<table border="1" cellspacing="0">
				<tr>
					<td height="52" colspan="6"><h2>七、项目实施过程中人才培训情况</h2></td>
				</tr>
				<tr>
					<td height="29"></td>
					<td colspan="2">技术培训</td>
					<td colspan="2">管理培训</td>
					<td>合计</td>
				</tr>
				<tr>
					<td height="29">人数（人数）</td>
					<td colspan="2"><input class="easyui-validatebox"
						required="true" type="text" id="train_tech_num" /></td>
					<td colspan="2"><input class="easyui-validatebox"
						required="true" type="text" id="train_mange_num" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" id="train_sum_num" /></td>
				</tr>
				<tr>
					<td height="29">课时数</td>
					<td colspan="2"><input class="easyui-validatebox"
						required="true" type="text" id="train_tech_class" /></td>
					<td colspan="2"><input class="easyui-validatebox"
						required="true" type="text" id="train_mange_class" /></td>
					<td><input class="easyui-validatebox" required="true"
						type="text" id="train_sum_class" /></td>
				</tr>
			</table>
			<a href="javascript:void(0);" class="easyui-linkbutton"
				iconcls="icon-ok" onclick="submitdata()">确定</a> <a
				href="javascript:void(0);" class="easyui-linkbutton"
				iconcls="icon-no" onclick="reset()">重置</a>
		</form>
	</div>
</body>
</html>