<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员信息</title>
	<link rel="stylesheet" type="text/css" href="../../../../common/html/plugin/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../../../../common/html/plugin/easyui/themes/icon.css">
	<script type="text/javascript" src="../../../../common/html/plugin/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/admininfo.js"></script>
    
    <style type="text/css">
        #newfm,#quefm,#edtdlgfm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
    </style>
</head>

<body class='easyui-layout'>

<div id='west' data-options="region:'west',title:'管理员分类',split:true" style="width:250px;padding:5px;">
   
    	<ul id="treeData"></ul>
   
    </div>
    <!--表结构-->
    <div id='center' data-options="region:'center',title:'管理员信息',split:true" style="padding:5px;">
    
    	<table id="admingrid" class="easyui-datagrid-"></table> 
    
    	<div id="toolbar">
    		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="queryAdmin()">查询</a>
        	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newAdmin()">添加</a>       
        	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delArrAdmin()">批量删除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="disableAdmin(1)">禁用</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="disableAdmin(0)">启用</a>  
        
    	</div>
    
    </div>
    
    <!--添加-->
    <div id="newdlg" class="easyui-dialog" style="width:580px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
        <div class="ftitle">管理员信息</div>
        <form id="newfm" method="post" novalidate>
       <input type="hidden" id="pcat" name="category" />
        <table>
            <tr>
                <td>所属分类：</td>
                <td><input id="ptext" class="easyui-validatebox" readonly='true' style="border:0px;"></td>
           	</tr>
            
        	<tr>
                <td>用户名：</td>
                <td><input name="usr" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
                <td>真实姓名：</td>
                <td><input name="realname" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="pwd" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
                <td>电话：</td>
                <td><input name="phone" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
           	</tr>
            <tr>
                <td>邮箱：</td>
                <td><input name="email" class="easyui-validatebox" validType="email" data-options="required:true,missingMessage:'该项为必填项'"></td>
                <td>QQ：</td>
                <td><input name="qq" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
           	</tr>
            <tr>
                <td>工作单位：</td>
                <td><input name="company" class="easyui-validatebox" ></td>
                <td>职称：</td>
                <td><input name="title" class="easyui-validatebox" ></td>
           	</tr>
            <tr>
                <td>身份证号：</td>
                <td><input name="cardID" class="easyui-validatebox" ></td>
                <td>手机：</td>
                <td><input name="cellphone" class="easyui-validatebox" ></td>
           	</tr>
            <tr>
                <td>状态：</td>
                <td>
                	<input id="allow" name="isForbidden" type="radio" value="0" class="easyui-validatebox">启用
                    <input id="forbidden" name="isForbidden" type="radio" value="1" class="easyui-validatebox">禁用
                </td>
           	</tr>
         </table>
        </form>
       
    </div>
      
    <div id="dlg-buttons" style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveAdmin()">确定 </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#newdlg').dialog('close')">取消</a>
    </div>
    
    
    <!--修改用户-->
    <div id="edtdlg" class="easyui-dialog" style="width:580px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons1">
        <div class="ftitle">管理员信息</div>
        <form id="edtdlgfm" method="post" novalidate>
        <input type="hidden" id="upCat" name="category" />
        <table>
            <tr>
                <td>所属分类：</td>
                <td>
                	<input name="upperID" id="catTree" style="width:154px;">
                </td>
           	</tr>
            
        	<tr>
                <td>用户名：</td>
                <td><input name="usr" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
                <td>真实姓名：</td>
                <td><input name="realname" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
            </tr>
        	<tr>
                <td>密码：</td>
                <td><input type="password" name="pwd"></td>
                <td>电话：</td>
                <td><input name="phone" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
           	</tr>
            <tr>
                <td>邮箱：</td>
                <td><input name="email" class="easyui-validatebox" validType="email" data-options="required:true,missingMessage:'该项为必填项'"></td>
                <td>QQ：</td>
                <td><input name="qq" class="easyui-validatebox" data-options="required:true,missingMessage:'该项为必填项'"></td>
           	</tr>
            <tr>
                <td>工作单位：</td>
                <td><input name="company" class="easyui-validatebox" ></td>
                <td>职称：</td>
                <td><input name="title" class="easyui-validatebox" ></td>
           	</tr>
            <tr>
                <td>身份证号：</td>
                <td><input name="cardID" class="easyui-validatebox" ></td>
                <td>手机：</td>
                <td><input name="cellphone" class="easyui-validatebox" ></td>
           	</tr>
            <tr>
                <td>状态：</td>
                <td>
                	<input id="allow" name="isForbidden" type="radio" value="0" class="easyui-validatebox">启用
                    <input id="forbidden" name="isForbidden" type="radio" value="1" class="easyui-validatebox">禁用
                </td>
           	</tr>
         </table>
        </form>
       
    </div>
      
    <div id="dlg-buttons1" style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="updateAdmin()">确定 </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#edtdlg').dialog('close')">取消</a>
    </div>
    
    
     <!--查询用户-->
    <div id="quedlg" class="easyui-dialog" style="width:400px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons2">
        <div class="ftitle">管理员信息</div>
        <form id="quefm" method="post" novalidate>
        <table>
        	<tr>
                <td>用户名：</td>
                <td><input id="username" name="usr"></td>
            </tr>
           
            <tr>
                <td>状态：</td>
                <td>
                	<input id="allow" name="isForbidden" type="radio" value="0">启用
                    <input id="forbidden" name="isForbidden" type="radio" value="1">禁用
                </td>
           	</tr>
         </table>
        </form>
       
    </div>
      
    <div id="dlg-buttons2" style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="findAdmin()">确定 </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#quedlg').dialog('close')">取消</a>
    </div>
    
</body>
</html>
