<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打印表单</title><link rel="stylesheet" type="text/css"
	href="../../../../website/html/view/css/tablestyle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../common/html/plugin/easyui/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../common/html/plugin/easyui/themes/icon.css"/>
    
    <script language="javascript" src="../../../../common/html/plugin/jqprint-0.3/jquery-1.4.4.min.js"></script>
	<script language="javascript" src="../../../../common/html/plugin/jqprint-0.3/jquery.jqprint-0.3.js"></script>
    
	<script type="text/javascript" src="../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
    <script type="text/javascript" src="../js/printForm.js"></script>
    
    <!--<style type="text/css">
		table{ background-color:#000;}
		td{ background-color:#fff;}
	</style>-->
    
</head>

<body>
<div id="pp">
<div style="font-weight:bold">一、项目基本情况</div>
<form id="appFm" action="#" method="post" novalidate>
  <table width="100%" height="549" border="0" bordercolor="#000" cellpadding="0" cellspacing="1" bgcolor="#000000">
    <tr bgcolor="#ffffff">
      <td width="143">项目名称</td>
      <td colspan="4"><div id="aname"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>主要完成人</td>
      <td colspan="4"><div id="impPerson"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td rowspan="4">第一完成单位</td>
      <td width="65">单位名称</td>
      <td width="171"><div id="completeOrg"></div></td>
      <td width="93">通讯地址</td>
      <td width="293"><div id="completeAdress"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>邮编</td>
      <td><div id="completeCode"></div></td>
      <td>联系人</td>
      <td><div id="completePerson"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>联系电话</td>
      <td><div id="completeTel"></div></td>
      <td>手机</td>
      <td><div id="completePhone"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>传真</td>
      <td><div id="completeFax"></div></td>
      <td>电子邮箱</td>
      <td><div id="completeEmail"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>推荐单位</td>
      <td colspan="4"><div id="rec_org"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>所属国民经济行业</td>
      <td colspan="4">
        <select id="economic" name="economic" style="display:none">
        	<option value="1">农、林、牧、渔业</option>
            <option value="2">采矿业</option>
            <option value="3">制造业</option>
            <option value="4">电力、燃气及水的生产和供应业</option>
            <option value="5">建筑业</option>
            <option value="6">交通运输、仓储和邮政业</option>
            <option value="7">信息传输、计算机服务和软件业</option>
            <option value="8">批发和零售业</option>
            <option value="9">住宿和餐饮业</option>
            <option value="10">金融业</option>
            <option value="11">房地产业</option>
            <option value="12">租赁和商务服务业</option>
            <option value="13">科学研究、技术服务和地质勘查业</option>
            <option value="14">水利、环境和公共设施管理业</option>
            <option value="15">居民服务和其他服务业</option>
            <option value="16">教育</option>
            <option value="17">卫生、社会保障和社会福利业</option>
            <option value="18">文化、体育和娱乐业</option>
            <option value="19">公共管理和社会组织</option>
            <option value="20">国际组织</option>
        </select>
        <div id="economicText"></div>
      </td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>所属科学技术领域</td>
      <td colspan="4">
      	<div style="display:none"><input id="scienceTree" name="science" style="width:220px;"/></div>
        <input type="hidden" id="scienceCat" name="scienceCat"/>
        <div id="scienceText"></div>
      </td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>任务来源</td>
      <td colspan="2">
      	<!--<input type="text" name="source"/>下拉列表-->
        <select id="source" name="source" style="display:none">
        	<option value="1">国家科技重大专项</option>
            <option value="2">国家科技支撑计划</option>
            <option value="3">863计划</option>
            <option value="4">973计划</option>
            <option value="5">其他国家计划</option>
            <option value="6">国家自然基金</option>
            <option value="7">北京市科技计划</option>
            <option value="8">北京市自然基金</option>
            <option value="9">部委计划</option>
            <option value="10">国际合作</option>
            <option value="11">企业</option>
            <option value="12">自选</option>
            <option value="13">其他</option>
        </select>
        <div id="sourceText"></div>
      </td>
      <td>具体计划、基金的名称和编号</td>
      <td><div id="planID"></div></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>项目起始时间</td>
      <td colspan="2"><div id="proStart"></div></td>
      <td>完成时间</td>
      <td><div id="proEnd"></div></td> 
    </tr>
  </table>
</form>
</br></br>
<div style="font-weight:bold">二、项目基本情况</div>
<form id="briefForm" action="" method="post">
  <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
    <tr>
      <td colspan="8" bgcolor="#ffffff">(项目所属科学技术领域、主要研究开发内容、解决的主要技术问题、技术创新点与创新程度、技术经济指标、促进科技进步的作用、推广应用及经济和社会效益情况等)(限800字)</td>
    </tr>
    <tr>
      <td colspan="8" bgcolor="#ffffff">
      	<div id="proBrief"></div>
      </td>
    </tr>
  </table>
</form>

</br></br>
<div style="font-weight:bold">三、主要创新点</div>
<form id="createForm" action="" method="post">
  <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
    <tr>
      <td colspan="2" bgcolor="#ffffff">(限1000字)</td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#ffffff">
      	<div id="proCreat"></div>
      </td>
    </tr>
  </table>
</form>
</br></br>
<div style="font-weight:bold">四、项目详细内容</div>
<div id="showDiv" style="display:none">尚未填写该内容</div>
<div id="showDiv1">
<form id="f" method="post" novalidate>
<table id="Ben" width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
    <tr><td colspan="6" bgcolor="#ffffff">1、立项背景(限800字)</td></tr>
    <tr>
        <td colspan="6" bgcolor="#ffffff"><div id="background"></div></td>
    </tr>    
    <tr><td colspan="6" bgcolor="#ffffff">2、详细科学技术内容(总体思路、技术方案、与当前同类科学技术的综合比较等)</td></tr>
    <tr>
        <td colspan="6" bgcolor="#ffffff"><div id="scienceCon"></div></td>
    </tr>  
    <tr><td colspan="6" bgcolor="#ffffff">3、应用情况及推广程度(限800字)</td></tr>
    <tr>
        <td colspan="6" bgcolor="#ffffff"><div id="extend"></div></td>
    </tr>  
    <tr><td colspan="6" bgcolor="#ffffff">4、推动科学技术进步的作用(限800字)</td></tr>
    <tr>
        <td colspan="6" bgcolor="#ffffff"><div id="effect"></div></td>
    </tr>

<tr>
    <td colspan="6" bgcolor="#ffffff">5、经济效益(无法计算直接经济效益的项目可以不填此栏)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单位：万元人民币</td>
</tr>
<tr>
    <td bgcolor="#ffffff">项目总投资额</td>
    <td colspan="2" bgcolor="#ffffff"><div id="invest"></div></td>
    <td bgcolor="#ffffff">回收期(年)</td>
    <td colspan="2" bgcolor="#ffffff"><div id="recoverDate"></div></td>
    </tr>
<tr id="Benifity">
	<td bgcolor="#ffffff">年份</td>
	<td bgcolor="#ffffff">新增销售收入</td>
	<td bgcolor="#ffffff">新增利润</td>
	<td bgcolor="#ffffff">新增税收</td>
	<td bgcolor="#ffffff">创收外汇(美元)</td>
	<td bgcolor="#ffffff">节支总额</td>
</tr>
<!--<tr id="Ben">
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
</tr>-->
<tr id="sumBen"> 
  	<td bgcolor="#ffffff">累计</td>
  	<td bgcolor="#ffffff">1</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
  	<td bgcolor="#ffffff">&nbsp;</td>
</tr>
<tr>
    <td colspan="6" style="font-size:12px; background-color:#fff">各栏目的计算依据</td>
</tr>
<tr>
     <td colspan="6" bgcolor="#ffffff"><div id="casculBasis"></div></td>
</tr>
<tr>
    <td colspan="6" style="font-size:12px; background-color:#fff">经济效益综述（限800字）</td>
</tr>
<tr>
     <td colspan="6" bgcolor="#ffffff"><div id="economicBenefit"></div></td>
</tr> 
<tr>
    <td colspan="6" bgcolor="#ffffff">6、社会效益（限800字）</td>
</tr>
<tr>
     <td colspan="6" bgcolor="#ffffff"><div id="socialeffect"></div></td>
</tr>         
</table>
</form>
</div>

</br></br>
<div style="font-weight:bold">五、本项目曾获科技奖励情况</div>

<form action="#" method="post">
  <table id="Adward" width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
    <tr id="one">
      <td bgcolor="#ffffff">序号</td>
      <td bgcolor="#ffffff">获奖项目名称</td>
      <td bgcolor="#ffffff">获奖时间</td>
      <td bgcolor="#ffffff">获奖名称</td>
      <td bgcolor="#ffffff">奖励等级</td>
      <td bgcolor="#ffffff">奖励部门</td>
    </tr>
    <tr>
      <td colspan="6" bgcolor="#ffffff">本表所填科技奖励是指本项目曾获得的国家、省部级、经科技部或北京市批准的社会力量设立的科技奖励情况，不包括商业性奖励。</td>
      </tr>
  </table>
</form>

</br></br>
<div style="font-weight:bold">六、主要完成单位情况</div>
<form action="#" method="post">
<div class="Unit">
  <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
    <tr>
      <td width="24%" bgcolor="#ffffff">完成单位排序</td>
      <td colspan="2" bgcolor="#ffffff"><div class="sort"></div></td>
      <td width="13%" bgcolor="#ffffff">单位名称</td>
      <td colspan="2" bgcolor="#ffffff"><div class="name"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">对申报项目做出的主要贡献(限100字)</td>
      <td colspan="5" bgcolor="#ffffff"><div class="contribute"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">通讯地址</td>
      <td colspan="2" bgcolor="#ffffff"><div class="address"></div></td>
      <td bgcolor="#ffffff">邮政编码</td>
      <td colspan="2" bgcolor="#ffffff"><div class="postcode"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">单位性质</td>
      <td width="19%" bgcolor="#ffffff"><div class="nature"></div></td>
      <td width="10%" bgcolor="#ffffff">单位类型</td>
      <td bgcolor="#ffffff"><div class="type"></div></td>
      <td width="13%" bgcolor="#ffffff">是否独立法人单位</td>
      <td width="21%" bgcolor="#ffffff"><div class="isSeparateLegal"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">企业注册号</td>
      <td colspan="2" bgcolor="#ffffff"><div class="registeNum"></div></td>
      <td bgcolor="#ffffff">组织机构代码</td>
      <td colspan="2" bgcolor="#ffffff"><div class="organizationCode"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">单位所在地区</td>
      <td colspan="2" bgcolor="#ffffff"><div class="zone"></div></td>
      <td bgcolor="#ffffff">单位网址</td>
      <td colspan="2" bgcolor="#ffffff"><div class="web"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">单位联系人</td>
      <td colspan="2" bgcolor="#ffffff"><div class="contact"></div></td>
      <td bgcolor="#ffffff">单位联系人电话</td>
      <td colspan="2" bgcolor="#ffffff"><div class="phone"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">单位传真</td>
      <td colspan="2" bgcolor="#ffffff"><div class="fax"></div></td>
      <td bgcolor="#ffffff">单位联系人手机</td>
      <td colspan="2" bgcolor="#ffffff"><div class="tel"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">单位联系人电子邮箱</td>
      <td colspan="5" bgcolor="#ffffff"><div class="email"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">项目联系人</td>
      <td colspan="2" bgcolor="#ffffff"><div class="proContact"></div></td>
      <td bgcolor="#ffffff">项目联系人手机</td>
      <td colspan="2" bgcolor="#ffffff"><div class="proTel"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">项目联系人电子邮箱</td>
      <td colspan="5" bgcolor="#ffffff"><div class="proEmail"></div></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">声明</td>
      <td colspan="5" bgcolor="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;本单位严格按照《通州区科学技术奖励办法》及其实施细则的有关规定和北京市通州区科学技术委员会对申报工作的具体要求，如实提供了本申报推荐书及相关材料，且不存在任何违反《中华人民共和国保守国家秘密法》和《科学技术保密规定》等相关法律法规及侵犯他人知识产权的情形。本单位是独立法人机构。如有不符，本单位愿意承担相关后果并接受相应的处理。</td>
    </tr>
  </table>
  <div style="height:10px; overflow:hidden"></div>
</div>
</form>


</br></br>
<div style="font-weight:bold">七、主要完成人情况</div>
<form action="#" method="post">
<div class="People">
<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
<tr>
  <td width="17%" bgcolor="#ffffff">主要完成人排序</td>
  <td width="18%" bgcolor="#ffffff"><div class="sort"></div></td>
  <td width="7%" bgcolor="#ffffff">姓名</td>
  <td width="15%" bgcolor="#ffffff"><div class="name"></div></td>
  <td width="11%" bgcolor="#ffffff">性别</td>
  <td width="15%" bgcolor="#ffffff"><div class="sex"></div></td>
  <td width="6%" bgcolor="#ffffff">民族</td>
  <td width="11%" bgcolor="#ffffff"><div class="nation"></div></td>
</tr>
<tr>
  <td bgcolor="#ffffff">出生地</td>
  <td bgcolor="#ffffff"><div class="birthplace"></div></td>
  <td bgcolor="#ffffff">出生日期</td>
  <td bgcolor="#ffffff"><div class="birthdate"></div></td>
  <td bgcolor="#ffffff">身份证号</td>
  <td colspan="3" bgcolor="#ffffff"><div class="idNumber"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">文化程度</td>
  <td bgcolor="#ffffff"><div class="eduLeval"></div></td>
  <td bgcolor="#ffffff">毕业时间</td>
  <td bgcolor="#ffffff"><div class="graduateTime"></div></td>
  <td bgcolor="#ffffff">是否归国人员</td>
  <td colspan="3" bgcolor="#ffffff"><div class="isHomecoming"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">工作单位</td>
  <td colspan="3" bgcolor="#ffffff"><div class="company"></div></td>
  <td bgcolor="#ffffff">联系电话</td>
  <td colspan="3" bgcolor="#ffffff"><div class="phone"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">电子邮箱</td>
  <td colspan="3" bgcolor="#ffffff"><div class="email"></div></td>
  <td bgcolor="#ffffff">手机</td>
  <td colspan="3" bgcolor="#ffffff"><div class="tel"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">通讯地址</td>
  <td colspan="7" bgcolor="#ffffff"><div class="address"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">毕业学校</td>
  <td colspan="2" bgcolor="#ffffff"><div class="graduateSchool"></div></td>
  <td bgcolor="#ffffff">专业</td>
  <td colspan="2" bgcolor="#ffffff"><div class="major"></div></td>
  <td bgcolor="#ffffff">学位</td>
  <td bgcolor="#ffffff"><div class="degree"></div></td>
</tr>
<tr>
  <td bgcolor="#ffffff">现从事专业</td>
  <td colspan="2" bgcolor="#ffffff"><div class="profession"></div></td>
  <td bgcolor="#ffffff">技术职称</td>
  <td colspan="2" bgcolor="#ffffff"><div class="techTitle"></div></td>
  <td bgcolor="#ffffff">行政职务</td>
  <td bgcolor="#ffffff"><div class="adminPost"></div></td>
</tr>
<tr>
  <td bgcolor="#ffffff">熟悉学科</td>
  <td colspan="7" bgcolor="#ffffff"><div class="familiarSubject"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">曾获科技奖励情况</td>
  <td colspan="7" bgcolor="#ffffff"><div class="techAward"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">参加本项目的起始时间</td>
  <td colspan="3" bgcolor="#ffffff"><div class="startTime"></div></td>
  <td bgcolor="#ffffff">完成时间</td>
  <td colspan="3" bgcolor="#ffffff"><div class="endTime"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">对本项目主要实质性贡献</td>
  <td colspan="7" bgcolor="#ffffff"><div class="contribute"></div></td>
  </tr>
<tr>
  <td bgcolor="#ffffff">声明</td>
  <td colspan="7" bgcolor="#ffffff">本人严格按照《通州区科学技术奖励办法》及其实施细则的有关规定和北京市通州区科学技术委员会对申报工作的具体要求，如实提供了本申报推荐书及相关材料，且不存在任何违反《中华人民共和国保守国家秘密法》和《科学技术保密规定》等相关法律法规及侵犯他人知识产权的情形。本单位是独立法人机构。如有不符，本人愿意承担相关后果并接受相应的处理。</td>
  </tr>
</table>
<div style="height:10px; overflow:hidden"></div>
</div>
</form>


</br></br>
<div style="font-weight:bold">八、主要证明目录</div>

<form action="#" method="post">
  <table id="proof" width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
  	<tr>
    	<td colspan="7" bgcolor="#ffffff">1、知识产权目录(只填已授权知识产权证明)</td>
      </tr>
    <tr id="proof1">
      <td width="11%" bgcolor="#ffffff">序号</td>
      <td width="14%" bgcolor="#ffffff">授奖项目名称</td>
      <td colspan="2" bgcolor="#ffffff">知识产权类别</td>
      <td width="16%" bgcolor="#ffffff">国(区)别</td>
      <td colspan="2" bgcolor="#ffffff">授权号</td>
      </tr>
    <tr>
      <td colspan="7" bgcolor="#ffffff">2、主要技术评价证明目录</td>
      </tr>
	<tr id="proof2">
      <td bgcolor="#ffffff">序号</td>
      <td bgcolor="#ffffff">项目名称</td>
      <td colspan="2" bgcolor="#ffffff">评价形式</td>
      <td bgcolor="#ffffff">组织评价单位</td>
      <td width="17%" bgcolor="#ffffff">评价时间</td>
      <td width="24%" bgcolor="#ffffff">评价水平</td>
      </tr>
  	<tr>
  		<td colspan="7" bgcolor="#ffffff">3、产品技术标准目录</td>
  	</tr>
	<tr id="proof3">
      <td bgcolor="#ffffff">序号</td>
      <td colspan="3" bgcolor="#ffffff">标准名称</td>
      <td bgcolor="#ffffff">类别</td>
      <td colspan="2" bgcolor="#ffffff">标准号/备案号</td>
	</tr>
      
	<tr>
  		<td colspan="7" bgcolor="#ffffff">4、检测机构出具的产品检测报告等目录</td>
  	</tr>
	<tr id="proof4">
      <td bgcolor="#ffffff">序号</td>
      <td bgcolor="#ffffff">检测机构</td>
      <td colspan="2" bgcolor="#ffffff">委托单位</td>
      <td bgcolor="#ffffff">被检测产品名称</td>
      <td colspan="2" bgcolor="#ffffff">证书编号</td>
	</tr>
    
    <tr>
  		<td colspan="7" bgcolor="#ffffff">5、国家法律法规要求的行业审批文件等目录</td>
  	</tr>
	<tr id="proof5">
      <td bgcolor="#ffffff">序号</td>
      <td bgcolor="#ffffff">审批文件名称</td>
      <td colspan="2" bgcolor="#ffffff">产品名称</td>
      <td bgcolor="#ffffff">审批单位</td>
      <td bgcolor="#ffffff">审批时间</td>
      <td bgcolor="#ffffff">申请单位</td>
	</tr>
    
    <tr>
  		<td colspan="7" bgcolor="#ffffff">6、应用证明材料目录</td>
  	</tr>
	<tr id="proof6">
      <td bgcolor="#ffffff">序号</td>
      <td bgcolor="#ffffff">应用单位名称</td>
      <td width="10%" bgcolor="#ffffff">联系人</td>
      <td width="8%" bgcolor="#ffffff">电话</td>
      <td bgcolor="#ffffff">应用起始时间</td>
      <td bgcolor="#ffffff">应用完成时间</td>
      <td bgcolor="#ffffff">使用项目产生的经济效益(万元)</td>
	</tr>
    
    <tr>
  		<td colspan="7" bgcolor="#ffffff">7、其他证明材料目录</td>
  	</tr>
	<tr id="proof7">
      <td colspan="7" bgcolor="#ffffff">&nbsp;</td>
      </tr>
  </table>
</form>


</br></br>
<div style="font-weight:bold">九、推荐单位意见</div>

<form action="#" method="post">
  <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
  	<tr>
    	<td colspan="2" bgcolor="#ffffff">(限400字)</td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#ffffff"><div id="UnitAdvice"></div></td>
    </tr>
    <tr>
        <td width="10%" align="center" bgcolor="#ffffff">声明</td>
        <td bgcolor="#ffffff"><div style="margin:10px;">&nbsp;&nbsp;&nbsp;&nbsp;我单位严格按照《通州区科学技术奖励办法》及其实施细则的有关规定和北京市通州区科学技术委员会对推荐工作的具体要求，对申报推荐书及全部附件材料进行了严格审查，确认该项目符合《通州区科学技术奖励办法实施细则》规定的推荐资格条件，推荐材料全部内容属实，且不存在任何违反《中华人民共和国保守国家秘密法》和《科学技术保密规定》等相关法律法规及侵犯他人知识产权的情形。</div><div style="margin:10px;">&nbsp;&nbsp;&nbsp;&nbsp;我单位承诺将严格按照通州区科学技术奖励工作的相关规定和要求，认真履行作为推荐单位的义务并承担相应的责任。</div></td>
    </tr>
  </table>
</form>

</br></br>
<div style="font-weight:bold">十、主要附件目录</div>

<form action="#" method="post">
  <table id="attachProof" width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
  	<tr>
    	<td colspan="3" bgcolor="#ffffff">
        	<div>说明:需列出所提供的所有附件的清单，并按下列顺序排列:</div>
            <div>1、知识产权证明</div>
            <div>2、评价证明及国家法律法规要求审批的批准文件</div>
            <div>3、产品技术标准</div>
            <div>4、应用证明</div>
            <div>5、其他证明</div>
        </td>
    </tr>
    <tr id="attachProof1">
      <td bgcolor="#ffffff"><div id="UnitAdvice">序号</div></td>
      <td bgcolor="#ffffff">文件名称</td>
      <td bgcolor="#ffffff">文件描述</td>
    </tr>
    
  </table>
</form>


</div>
<div><input type="button" value="生成Word文档" onclick="printFm();"/></div>
<textarea id="test"></textarea>

</body>
</html>
