<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改个人信息</title>
<link rel="stylesheet" type="text/css"
	href="../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css" href="../../../../common/html/plugin/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../../../common/html/plugin/easyui/themes/icon.css">
<script type="text/javascript" src="../../../../common/html/plugin/easyui/jquery.min.js"></script>
<script type="text/javascript" src="../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/updateUser.js"></script>

<link href="../css/updatePwd.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1 class="ftitle">用户个人信息</h1>
<form id="fm" method="post" novalidate="novalidate">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><label>用户名:</label></td>
      <td><div id="username"></div></td>
    </tr>
    <tr>
      <td><label>用户创建时间:</label></td>
      <td><div id="addedDate"></div></td>
    </tr>
     <tr>
      <td><label>最后登录时间:</label></td>
      <td><div id="lastLoginTime"></div></td>
    </tr>
    <tr>
      <td><label>最后登录IP:</label></td>
      <td><div id="lastIP"></div></td>
    </tr>
    <tr>
      <td><label>电话:</label></td>
      <td><input id="uphone" name="phone" class="easyui-validatebox textbox" validtype="mobile" /></td>
    </tr>
    <tr>
      <td><label>E-mail:</label></td>
      <td><input id="uemail" name="email" class="easyui-validatebox textbox" dataoptions="required:true" validtype="email" /></td>
    </tr>
    <tr>
      <td><label>QQ:</label></td>
      <td><input id="uqq" name="qq" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="button" value="提交" onclick="updateUser();"/>
        <input type="button" value="取消" onclick="cancel();"/></td>
    </tr>
  </table>
</form>
</body>
</html>
