<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>通州科委项目</title><link rel="stylesheet" type="text/css"
	href="../../../../website/html/view/css/tablestyle.css" />
    </head>
     <frameset rows="10%, *" border="0">
        <frame name="main_top" src="main_top.html" />
        <frameset cols="10%,*">
        <frame name="main_left" src="main_left.php" />
        
        <frame name="main_center" padding="0"  src="../../../php/action/page/project_list/main.php" >
        <table height="1000"></table>
        </frame>
        
        </frameset>
    </frameset> 
<!-- <body>
   <center>   
  	<table border="0"  height="890"  cellspacing="0"   cellpadding="0" >   
      <tr><td   width="963" height="100"   colspan="2">   
              <iframe  width="100%" height="100%"  frameborder="0" name="main_top" src="main_top.html"></iframe>  
      </td></tr>   
      <tr>   
          <td  width="200" >   
              <iframe  width="100%"   height="100%"  frameborder="0" name="main_left" src="main_left.php"></iframe>   
          </td>   
          <td  width="760" >   
              <iframe  width="100%" height="100%"   frameborder="0" name="main_center" src="../../../php/action/page/project_list/main.php"></iframe>   
          </td>   
      </tr>   
    </table>   
  </center>
</body>-->
</html>