<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title><link rel="stylesheet" type="text/css"
	href="../../../../website/html/view/css/tablestyle.css" />
</head>
<style type="text/css">
body{text-align:center;margin:0;padding:0;}
</style>
<body>
 <table width="1250">
 <tr>
 <td width="250" align="center">
 <div style="text-align:center"><a href="admin_role.html" target="role_center" style='text-decoration:none;'>审批管理</a></div>
 </td>
 <td width="250"  align="center">
 <div style="text-align:center"><a href="admin_role.html" target="role_center" style='text-decoration:none;'>通讯管理</a></div>
 </td>
 <td width="250"  align="center">
 <div style="text-align:center"><a href="admin_role.html" target="role_center" style='text-decoration:none;'>设置</a></div>
 </td>
 <td width="250"  align="center">
 <div style="text-align:center"><a href="admin_role.html" target="role_center" style='text-decoration:none;'>扩展</a></div>
 </td>
 <td width="250"  align="center">
 <div style="text-align:center"><a href="admin_role.html" target="role_center" style='text-decoration:none;'>项目管理</a></div>
 </td>
 </tr>
 </table>
</body>
</html>