<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title><link rel="stylesheet" type="text/css"
	href="../../../../website/html/view/css/tablestyle.css" />
<link href="../css/ulli.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="menus">
   <ul>
     <li>各科室管理员
      <ul>
       <li><a href="role_list.html" target="role_top" style='text-decoration:none;'>发展计划科</a></li>
       <li><a href="role_list.html" target="role_top" style='text-decoration:none;'>科技综合科</a></li>
       <li><a href="role_list.html" target="role_top" style='text-decoration:none;'>科技宣传与信息科</a></li>
       <li><a href="role_list.html" target="role_top" style='text-decoration:none;'>知识产权科</a></li>
       <li><a href="role_list.html" target="role_top" style='text-decoration:none;'>监察科</a></li>
       <li><a href="role_list.html" target="role_top" style='text-decoration:none;'>党政办公室</a></li>
      </ul>
     </li>
     <li><a href="role_alone.html" target="role_top" style='text-decoration:none;'>项目申请权限</a></li>
   </ul>
  </div>
</body>
</html>