<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据备份</title>
<link rel="stylesheet" type="text/css" href="../../../../../common/html/plugin/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../../../../common/html/plugin/easyui/themes/icon.css">
<!--
<script type="text/javascript" src="../../../../../common/html/plugin/easyui/jquery.min.js"></script>
-->
<script type="text/javascript" src="../../../../../common/html/lib/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../js/data/backup.js"></script>
<script type="text/javascript" src="../../../../../center/html/view/js/common.js"></script>
<script type="text/javascript" src="../../../../../center/html/view/js/NTClientJavascript.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/data/backup.css"/>

</head>

<body>
<div class="ftitle">数据库备份</div>
<form id="fm" method="post" novalidate="novalidate">
  <table>
    <tr style=" display:none;">
      <td><label>数据库:</label></td>
    </tr>
    <tr style=" display:none;">
      <td></td>
      <td><input type="checkbox"  value="examine" name="cxjy"  checked="checked"/>
        科技创新服务 </td>
    </tr>
    <tr>
      <td></td>
      <td align="right"><input type="button" value="备份" onclick="backup();"/></td>
    </tr>
  </table>
</form>
</body>
</html>
