<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>通州区科学技术奖申报推荐书</title>
<link rel="stylesheet" type="text/css"
	href="../../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../common/html/plugin/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css"
		href="../../../../../common/html/plugin/easyui/themes/icon.css">
		<script type="text/javascript"
			src="../../../../../common/html/plugin/easyui/jquery.min.js"></script>
		<script type="text/javascript"
			src="../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
		<script type="text/javascript"
			src="../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="../../js/main/apply2.js"></script>
</head>

<body>
	<div style="font-weight: bold">二、内容简介</div>
	<form id="briefForm" action="" method="post">
		<table width="749" border="0">
			<tr>
				<td colspan="8">(项目所属科学技术领域、主要研究开发内容、解决的主要技术问题、技术创新点与创新程度、技术经济指标、促进科技进步的作用、推广应用及经济和社会效益情况等)(限800字)<span
					style="color: red;">&nbsp;&nbsp;*必填</span></td>
			</tr>
			<tr>
				<td colspan="8"><textarea name="proBrief" id="proBrief"
						cols="100" rows="20"></textarea></td>
			</tr>
			<!--<tr id="checkAdviceTr">
      <td width="89">审核意见:</td>
      <td width="551"><textarea name="checkAdvice" id="checkAdvice" style="width: fit; height: fit; overflow-y:visible;border:0;resize:none;" readonly="readonly"></textarea>
      </td>
      <td width="11">&nbsp;</td>
      <td width="11">&nbsp;</td>
      <td width="11">&nbsp;</td>
      <td width="11">&nbsp;</td>
      <td width="11">&nbsp;</td>
      <td width="7">&nbsp;</td>
      <td colspan="3" align="center">
      </td>
      <td width="4">
      </td>
    </tr>-->
			<tr>
				<td colspan="8"><input type="button" value="保存"
					onclick="saveBrief();" /> <!-- <input type="button" value="返回" onclick="saveBrief();"/>-->
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
