<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>推荐单位意见</title>
<!--heyangyang-->
<link rel="stylesheet" type="text/css"
	href="../../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../common/html/plugin/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css"
		href="../../../../../common/html/plugin/easyui/themes/icon.css">
		<script type="text/javascript"
			src="../../../../../common/html/plugin/easyui/jquery.min.js"></script>
		<script type="text/javascript"
			src="../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript"
			src="../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
		<script type="text/javascript"
			src="../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>

		<script type="text/javascript" src="../../js/main/apply9.js"></script>
</head>

<body>
	<div id="unitWrite">请在打印申报推荐书后,提交推荐单位填写,并加盖公章</div>

	<div id="showForm">
		<form id="fm" method='post'>
			<table border="1" width='925' style="margin: auto;">
				<tr>
					<td colspan="2">推荐单位意见</td>
				</tr>
				<tr>
					<td colspan="2"><textarea name='content' disabled="disabled"
							style="width: 910px; height: 500px;"></textarea></td>
				</tr>
				<tr>
					<td width="10%" align="center">声明</td>
					<td><div style="margin: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;我单位严格按照《通州区科学技术奖励办法》及其实施细则的有关规定和北京市通州区科学技术委员会对推荐工作的具体要求，对申报推荐书及全部附件材料进行了严格审查，确认该项目符合《通州区科学技术奖励办法实施细则》规定的推荐资格条件，推荐材料全部内容属实，且不存在任何违反《中华人民共和国保守国家秘密法》和《科学技术保密规定》等相关法律法规及侵犯他人知识产权的情形。</div>
						<div style="margin: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;我单位承诺将严格按照通州区科学技术奖励工作的相关规定和要求，认真履行作为推荐单位的义务并承担相应的责任。</div></td>
				</tr>
			</table>

		</form>
	</div>

</body>
</html>
