<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>通州区科学技术奖申报推荐书</title>
<link rel="stylesheet" type="text/css"
	href="../../../../../website/html/view/css/tablestyle.css" />
<link rel="stylesheet" type="text/css"
	href="../../../../../common/html/plugin/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css"
		href="../../../../../common/html/plugin/easyui/themes/icon.css">
		<script type="text/javascript"
			src="../../../../../common/html/plugin/easyui/jquery.min.js"></script>
		<script type="text/javascript"
			src="../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
		<script type="text/javascript"
			src="../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="../../js/main/apply3.js"></script>
</head>

<body>
	<div style="font-weight: bold">三、主要创新点</div>
	<form id="createForm" action="" method="post">
		<table width="749" border="0">
			<tr>
				<td colspan="2">(限1000字)<span style="color: red;">&nbsp;&nbsp;*必填</span></td>
			</tr>
			<tr>
				<td colspan="2"><textarea name="proCreat" id="proCreat"
						cols="100" rows="30"></textarea></td>
			</tr>

			<!--<tr id="checkAdviceTr">
      <td width="129">审核意见:</td>
      <td width="610">
      <textarea name="checkAdvice" id="checkAdvice" style="width: fit; height: fit; overflow-y:visible;border:0;resize:none;" readonly="readonly"></textarea></td>
    </tr>-->
			<tr>
				<td colspan="2"><input type="button" value="保存"
					onclick="saveCreate();" /> <!--<input type="button" value="返回" onclick="saveCreate();"/>-->
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
