@CHARSET "UTF-8";
.button
	{
		background:#7FFF00; 
		color:#FFF; 
        width:135px;
		height:30px;
		font-size:18px;
		font-family:'微软雅黑';

    }
 .save
    {
	    width:135px;
		height:30px;
		font-size:18px;
		font-family:'微软雅黑';

    }
 .button1
	{
		background:#7CCD7C; 
		color:#FFF; 
        width:135px;
		height:30px;
		font-size:18px;
		font-family:'黑体';
    }
  .button2
	{
		background:#B5B5B5; 
		color:#FFF; 
        width:135px;
		height:30px;
		font-size:18px;
		font-family:'黑体';
}
