/* CSS Document */
*{font-size:12px;}
body{ padding:2px; }
a{ text-decoration:none; }
select{ width:167px; height:24px;}
textarea{ border:1px solid #9cf;}
/*
input{ border:1px solid #9cf; width:190px; height:20px; }
*/
#total,#use_time,#end_time,#dept{ border:1px solid #9cf; width:190px; height:20px;}
#table{border:1px solid;border-color:#ccc;}  
#table td{border:1px solid;border-color:#ccc;padding:3px;}  
#table tr{border:1px solid;border-color:#ccc;}
#file_type{ width:458px;}
#button{ width:60px; height:30px;}
#number{ width:50px;}
#file_name{ width:725px;}
.check{ border:0px;}
.submit{ padding:10px; margin-left:380px; width:60px;}
