<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/icon.css">
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../../../../../website/html/view/css/tablestyle.css" />
<script type="text/javascript" src="../../../js/apply/aim_standard.js"></script>

<style type="text/css">
input {
	height: 100%;
	width: 99.5%;
	border: 0px;
}
</style>

<title>项目的实施目标及考核标准</title>
</head>
<body>
	<div class="easyui-panel" style="border: 0;">

		<form action="" id="project_target" method="post">

			<table width="600" height="560" border="1" cellspacing="0">
				<tr>
					<td height="148"><h2>一、项目的实施目标及考核标准</h2>
						〔包括1、主要经济指标：如项目实施过程中所形成的市场规模、效益（包括销售收入、上缴税收、利润
						等）；2、主要技术指标：如项目实施过程中形成的新专利、标准、论文专著等数量及其水平等；3、项
						目实施过程所产生的社会效益；4、其他指标〕</td>
				</tr>
				<tr>
					<td height="410"><textarea name="aim_standard"
							class="easyui-validatebox" required="true"></textarea></td>
				</tr>
			</table>
			<a href="#" class="easyui-linkbutton" iconcls="icon-ok"
				onclick="submitaimdata();">确定</a> <a href="#"
				class="easyui-linkbutton" iconcls="icon-no" onclick="reset()">重置</a>
		</form>
	</div>
</body>
</html>