<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="../../../../../../common/html/plugin/easyui/themes/icon.css">
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/hlui.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/jquery-hlui-2.0/js/form.js"></script>
<script type="text/javascript"
	src="../../../../../../common/html/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="../../../js/apply/aim_standard.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../../../../../website/html/view/css/tablestyle.css" />
<style type="text/css">
input {
	height: 100%;
	width: 99.5%;
	border: 0px;
}
</style>

<title>项目实施主要内容及意义</title>
</head>
<body>
	<div class="easyui-panel" style="border: 0;">

		<form action="" id="project_mean" method="post">
			<table width="600" height="560" border="1" cellspacing="0">
				<tr>
					<td height="148"><h2>二、项目实施主要内容及意义</h2>
						（包括项目中专利的基本情况、项目的主要内容、关键技术及创新点、技术水平、采取的技术路线或方法、及社会经济意义、实施过程中产生专利的情况等）</td>
				</tr>
				<tr>
					<td height="410"><textarea name="project_mean"
							class="easyui-validatebox" required="true"></textarea></td>
				</tr>
			</table>

			<a href="#" class="easyui-linkbutton" iconcls="icon-ok"
				onclick="submit()">确定</a> <a href="#" class="easyui-linkbutton"
				iconcls="icon-no" onclick="reset()">重置</a>
		</form>
	</div>
</body>
</html>