*{ margin:0 auto; padding:0;font-size:12px;
	font-family:"宋体";
	font-weight:500;
	font-family: Arial, Helvetica, sans-serif;
}
.bc{
border:1px solid #2AA4DC;

}
.head{
 background-image:url(cutpic/banner.png);
 width:1004px;
 height:150px;
 position:relative;
}
.logo{
 background-image:url(cutpic/logo.png);
 width:460px;
 height:76px;
 left:20px;
 top:20px;
 position:absolute;
 background-repeat:no-repeat;
}
.login{
 background-image: url(cutpic/login-back.png);
 height:270px;
 width:1005px;
 cursor:pointer;
 
}

.block1{
 background-image: url(cutpic/login-background.png);
 height:270px;
 width:1005px;
 position:relative;
}
.block1-name1{
position:absolute;
background-image:url(cutpic/username.png);
width:10px;
height:11px;
left:70px;
top:75px;}
.block1-word1{
position:absolute;
left:90px;
top:68px;
}

.block1-name2{
position:absolute;
background-image:url(cutpic/pwd.png);
width:10px;
height:11px;
left:70px;
top:117px;}
.block1-word2{
position:absolute;
left:90px;
top:110px;
}

.block1-name3{
position:absolute;
background-image:url(cutpic/check.png);
width:10px;
height:11px;
left:70px;
top:159px;
}
.block1-word3{
position:absolute;
left:90px;
top:152px;
display:inline;
}
.block1-validate{
position:absolute;
left:235px;
top:148px;
	
}
.login{ 
background-image:url(cutpic/login.png);
width:51px;
height:23px;
position:absolute;
top:192px;
left:120px;

}

.register{ background-image:url(cutpic/register.png);
width:50px;
height:23px;
position:absolute;
top:192px;
left:200px;
cursor:pointer;
}
a{
text-decoration:none;


}
.login-word{
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
position:absolute;
top:195px;
left:128px;
cursor:pointer

}
.register-word{
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
position:absolute;
top:195px;
left:210px;
cursor:pointer;
}
.validate-block{
display:inline;
position:absolute;
top:148px;
left:230px;
}
a{
	color:black;
}
.block2-word2 a{
	color:white;
}
.inform{
font-weight:600;
font-family:"宋体";
color:white;
font-size:16px;
position:absolute;
top:10px;
left:658px;
}

.forget-pwd{ 
position:absolute;
top:195px;
left:270px;
}
.ul1 li{
list-style:none;
line-height:25px; 
width:520px;	
}
.ul2 li{
line-height:30px; 

}
.notice{
position:absolute;
top:40px;
left:430px;	
}
span{
	float:right;
}
.block2{
 border:0px solid #2AA4DC;
 width:1004px;
 position:relative;
}
.block2-ref{
position:absolute;
background-image:url(cutpic/imp-ref.png);
width:18px;
height:26px;
top:5px;
left:10px;
}
.block2-word{
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
position:absolute;
top:12px;
left:35px;
}
.block2-word2{
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
position:absolute;
top:12px;
left:450px;
}
.block2-left{
 background-image: url(cutpic/imp-ref1.png);
    height:37px;
    line-height:37px;
 width:498px;
 float:left;
}
.block2-bleft{ 
 width:498px;
 height:300px;
 border:1px solid #2AA4DC;
 float:left;
    border-radius: 4px;
 
}
.imp-inform{
position:absolute;
top:50px;
left:30px;

	
}
.block2-rightref{
position:absolute;
background-image:url(cutpic/notice.png);
background-size:cover;
width:104px;
height:32px;
top:4px;
left:510px;
}
.middle{
	background-image: url(cutpic/login-back.png);
	background-size:cover;
	background-repeat:no-repeat;
	min-height:500px;
    width: 1004px;
    position: relative;
}
#container{
	width:750px;
	padding:60px 0px 100px 60px;
	box-sizing:border-box;
}
#line{
	margin:50px 0 5px 0;
}
.m_title{
	width:100px;
	height:50px;
	margin-left:500px;
	line-height:50px;
	font-size:18px;
	color:white;
	font-weight:bold;
}
.c_title{
	margin-bottom:20px;
}
.c_author{
	float:left;
}
.c_time{
	float:right;
}
.c_content{
	margin-top:50px;
}
.center{
	height:20px;
	margin:0px auto;
	line-height:20px;
	font-size:18px;
}
.block2-rightword{
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
position:absolute;
top:13px;
left:530px;
}
.block2-rightword2{
font-weight:600;
font-family:"宋体";
color:black;
font-size:12px;
position:absolute;
top:12px;
left:955px;
}
.block2-right{ 
 background-image: url(cutpic/apply-guide1.png);
 width:498px;
 height:37px;
 float:right;
}
.block2-bright{
border:1px solid #2AA4DC;
width:498px;
height:300px;
float:right;
    border-radius: 3px;
}
.imp-inform2{
position:absolute;
top:50px;
left:535px;
	
}
.ul3 li{
line-height:30px; 	
}
.gap{
height:5px;
}

.block3{
 border:0px solid #2AA4DC;
 width:1004px;
 position:relative;
}

.block3-ref{
position:absolute;
background-image:url(cutpic/apply-guide.png);
width:8px;
height:23px;
top:5px;
left:10px;
}
.block3-word{
font-weight:600;
font-family:"宋体";
color:#2AA4DC;
font-size:12px;
position:absolute;
top:15px;
left:28px;
}
.block3-word2{
font-weight:600;
font-family:"宋体";
color:black;
font-size:12px;
position:absolute;
top:15px;
left:450px;
}
.block3-left{
 background-image: url(cutpic/apply-guide1.png);
 height:37px;
 width:498px;
 float:left; 
}

.block3-bleft{ 
 width:498px;
 height:300px;
 border:1px solid #2AA4DC;
 float:left;
}

.imp-inform3{
position:absolute;
top:50px;
left:30px;
	
}
.ul4 li{
line-height:30px; 	
}
.block3-right{ 
 background-image: url(cutpic/apply-guide1.png);
 width:498px;
 height:37px;
 float:right;
}
.block3-rightref{
position:absolute;
background-image:url(cutpic/apply-guide.png);
width:8px;
height:23px;
top:4px;
left:510px;
}
.block3-rightword{
font-weight:600;
font-family:"宋体";
color:#2AA4DC;
font-size:12px;
position:absolute;
top:15px;
left:525px;
}
.block3-rightword2{
font-weight:600;
font-family:"宋体";
color:black;
font-size:12px;
position:absolute;
top:15px;
left:955px;
}
.block3-bright{
border:1px solid #2AA4DC;
 width:498px;
 height:300px;
 float:right;
}
.imp-inform4{
position:absolute;
top:50px;
left:535px;
	
}
.ul5 li{
line-height:30px; 	
}
.foot{ 
width:1005px;
height:74px;
background-color:#D1F3FF;
position:relative;
}
.foot-img1{ 
background-image:url(cutpic/help-info.png);
position:absolute;
width:41px;
height:74px;
top:0px;
left:0px;
}
.help1{
position:absolute;
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
top:2px;
left:10px;
display:block;
}
.help2{
position:absolute;
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
top:17px;
left:10px;
display:block;
}
.help3{
position:absolute;
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
top:32px;
left:10px;
display:block;
}
.help4{
position:absolute;
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
top:47px;
left:10px;
display:block;
}
.foot-img2{ 
background-image:url(cutpic/use-introduce.png);
position:absolute;
width:168px;
height:40px;
top:20px;
left:80px;
}
.sys-pro{
position:absolute;
font-weight:600;
font-family:"宋体";
color:black;
font-size:12px;
top:37px;
left:130px;
}
.foot-img3{ 
background-image:url(cutpic/file-download.png);
position:absolute;
width:168px;
height:40px;
top:20px;
left:300px;
}
.file-down{
position:absolute;
font-weight:600;
font-family:"宋体";
color:black;
font-size:12px;
top:37px;
left:350px;
}
.foot-img4{ 
background-image:url(cutpic/common-pro.png);
position:absolute;
width:170px;
height:57px;
top:4px;
left:520px;
}
.com-pro{
position:absolute;
font-weight:600;
font-family:"宋体";
color:white;
font-size:12px;
top:37px;
left:590px;
}
.foot-img5{ 
background-image:url(cutpic/service-line.png);
position:absolute;
width:71px;
height:55px;
top:10px;
left:740px;
}

.top-line{
position:absolute;
font-weight:600;
font-family:"宋体";
color:#875300;
font-size:12px;
top:30px;
left:840px;
}
